@charset "UTF-8";

@font-face {
  font-family: "template";
  src:url("fonts/template.eot");
  src:url("fonts/template.eot?#iefix") format("embedded-opentype"),
    url("fonts/template.woff") format("woff"),
    url("fonts/template.ttf") format("truetype"),
    url("fonts/template.svg#template") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "template" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: middle;
  speak: none;
  line-height: 1;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="template-"]:before,
[class*=" template-"]:before {
  font-family: "template" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: middle;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.template-arrow-left-1:before {
  content: "a";
  margin-left: -13px;
  position:  absolute;
  margin-top:  -11px;
}
.template-arrow-right-1:before {
  content: "b";
}
.template-arrow-left-2:before {
  content: "c";
}
.template-arrow-right-2:before {
  content: "d";
}
.template-arrow-menu:before {
  content: "e";
}
.template-map-marker:before {
  content: "f";
}
.template-arrow-circle-down:before {
  content: "g";
}
.template-arrow-circle-right:before {
  content: "h";
}
.template-bullet:before {
  content: "i";
}
.template-search:before {
  content: "j";
}
.template-shopping-cart:before {
  content: "k";
}
.template-phone:before {
  content: "l";
}
.template-mail:before {
  content: "m";
}
.template-clock:before {
  content: "n";
}
.template-location:before {
  content: "o";
}
.template-eye:before {
  content: "p";
}
.template-bubble:before {
  content: "q";
}
.template-arrow-up:before {
  content: "r";
}
.template-calendar:before {
  content: "s";
}
.template-arrow-dropdown:before {
  content: "t";
}

#service-22 {}

#service-22 ul.services-list {
    padding: 0 30px;
}

#service-22 ul.services-list .vc_row.wpb_row.vc_row-fluid {
    width: 100%;
}

#service-22 ul.services-list .vc_row.wpb_row.vc_row-fluid li {
    width:  30%;
}

li {}

#service-22 ul.services-list .vc_row.wpb_row.vc_row-fluid li:nth-child(2) {
    margin: 0 5%;
}

#service-22 ul.services-list .vc_row.wpb_row.vc_row-fluid li img {
    width:  100%;
}