.clearfix:after
{
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
.vc_license-activation-notice,
.vc_license.activation.notice,
.rs-update-notice-wrap,
.rs-dashboard,
.rs-update-history-wrapper,
[data-slug="slider-revolution"]+.plugin-update-tr
{
	display: none;
}
.margin_top_0
{
	margin-top: 0 !important;
}
.margin_top_10
{
	margin-top: 10px;
}
/* --- dropdown icon --- */
#ql_services_icon option::before
{
	font-size: 16px;
	margin-right: 10px;
	vertical-align: sub;
}
/* --- Theme options --- */
.theme_options
{
	width: 1050px;
	margin-top: 20px;
}
.theme_options a
{
	outline: none;
}
.theme_options .header
{
	clear: both;
}
.theme_options .header_left,
.theme_options .header_right
{
	float: left;
}
.theme_options .header_left
{
	width: 210px;
	height: 129px;
	background-color: #222;
	padding: 0 20px;
}
.theme_options .header_right
{
	width: 760px;
	height: 129px;
	background-color: #FFF;
	padding: 0 0 0 40px;
}
.theme_options .header_right .description
{
	float: left;
}
.theme_options .header_right .description a.description_link
{
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
.theme_options .header_right .logo
{
	float: right;
	width: 92px;
	height: 89px;
	background: url("../images/wp_admin_map.png") 0 -60px;
	text-decoration: none;
	margin: 20px 20px 20px 0;
}
.theme_options h3, .theme_options h5
{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.theme_options h3
{
	font-size: 24px;
}
.theme_options h5
{
	font-size: 13px;
}
.theme_options .header_left h3
{	
	margin-top: 35px;
	margin-bottom: 0;
}
.theme_options .header_left h3 a
{
	color: #FFF;
	text-decoration: none;
}
.theme_options .header_left h5
{	
	color: #A5A5A5;
	margin-top: 15px;
	margin-bottom: 45px;
}
.theme_options .header_right h3
{	
	margin-top: 35px;
	margin-bottom: 0;
}
.theme_options .header_right h5
{	
	clear: both;
	float: left;
	color: #555;
	margin-top: 15px;
}
.theme_options .header_right h3 a
{
	color: #000;
	text-decoration: none;
}
.theme_options .header_left h3 a:hover,
.theme_options .header_right h3 a:hover
{	
	text-decoration: underline;
}
.theme_options .content
{
	clear: both;
	background-color: #282828;
}
.theme_options .settings
{
	float: right;
	display: none;
	width: 740px;
	min-height: 560px;
	border-top: 1px solid #E0E0E0;
	padding: 20px 20px 20px 40px;
	background-color: #FFF;
}
.theme_options .subsettings
{
	display: none;
}
.theme_options .form_field_list
{
	margin: 20px 0;
}
.theme_options .form_field_list li
{
	margin-bottom: 15px;
}
.theme_options .form_field_list label
{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.theme_options .form_field_list label.small_label
{
	font-size: 13px;
	text-transform: none;
	font-weight: normal;
}
.theme_options .form_field_list .font_subset
{
	display: none;
}
.theme_options .settings h3
{
	margin-top: 0;
	margin-bottom: 20px;
}
.theme_options .settings h4
{
	font-size: 18px;
	font-weight: normal;
	margin: 50px 0 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #E0E0E0;
}
.theme_options .settings .submit_line
{
	clear:both;
}
.theme_options .settings .submit_line input[type='submit']
{
	float: none;
	margin: 0;
}
.theme_options .settings .color_preview,
.widget-content .color_preview,
.metabox-holder .color_preview,
.form-field .color_preview
{
	display: block;
	float: left;
	width: 21px;
	height: 21px;
	margin: 1px 5px 1px 1px;
	background: transparent;
	border: 1px solid #E0E0E0;
	text-decoration: none;
}
.widget-border
{
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
}
.theme_options .short
{
	width: 80px;
	margin-top: 3px;
}
.widget-content .color_preview
{
	float: none;
	display: inline-block;
	vertical-align: top;
	margin: 1px;
}
.theme_options .menu
{
	float: left;
	width: 250px;
	background-color: #282828;
	padding: 0;
	margin: 0;
}
.theme_options .menu a
{
	display: block;
	background: #222;
	height: 16px;
	font-size: 14px;
	color: #EEE;
	padding: 22px 20px;
	text-decoration: none;
}
.theme_options .menu a:hover
{
	background: #111;
	color: #45BBE6;
}
.theme_options .menu a.selected
{
	background: #0074A2;
	color: #FFF;
}
.theme_options .menu a span
{
	margin-right: 3px;
}
.theme_options .submenu
{
	display: none;
	padding: 0;
	margin: 0;
}
.theme_options .submenu a
{
	display: block;
	background: #333;
	height: 16px;
	font-size: 13px;
	font-family: arial;
	color: #BBB;
	padding: 12px 10px 12px 37px;
	text-decoration: none;
}
.theme_options .submenu a:hover
{
	color: #45BBE6;
	background: #333;
}
.theme_options .submenu a.selected
{
	background: #333;
	color: #FFF;
	font-weight: 600;
}
.theme_options .footer
{
	clear: both;
	height: 86px;
}
.theme_options #theme_options_preloader,
.theme_options #theme_options_tick
{
	display: none;
	float: right;
	margin-top: 37px;
}
.theme_options #dummy_content_preloader,
.theme_options #dummy_content_tick,
.theme_options #dummy_shop_content_preloader,
.theme_options #dummy_shop_content_tick
{
	display: none;
	margin-top: 6px;
}
.theme_options .theme_font_subset_preloader
{
	display: none;
	vertical-align: middle;
}
.theme_options #dummy_content_info,
.theme_options #dummy_shop_content_info
{
	clear: both;
	margin-top: 10px;
}
.theme_options .footer_left
{
	float: left;
	width: 250px;
	background-color: #282828;
	border-top: 1px solid #282828;
}
.theme_options .footer_right
{
	float: right;
	width: 800px;
	background-color: #FFF;
	border-top: 1px solid #E0E0E0;
}
.theme_options textarea
{
	height: 200px;
	resize: vertical;
	width: 500px;
	max-height: 400px;
	min-height: 200px;
}
.theme_options input[type='submit']
{
	border: none;
    float: right;
	font-family: arial;
	font-size: 13px;
	color: #D5D5D5;
    margin: 25px 20px;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	background-color: #444444;
}
.theme_options input[type='submit']:hover
{
	color: #FFF;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	background-color: #1378BF;
}
.theme_options ul.social-list
{
margin:0px;
padding:0px;
margin-top:50px;
margin-left:20px;
list-style-type:none;
}
.theme_options ul.social-list li
{
	float:left;
}
.theme_options ul.social-list li a
{
	width:30px;
	height:30px;
	display:block;
	background-image:url('../images/wp_admin_map.png');
}
.theme_options ul.social-list li a.social-list-tumblr			{ background-position:-150px 0;	}
.theme_options ul.social-list li a.social-list-flickr			{ background-position:-60px 0;		}
.theme_options ul.social-list li a.social-list-envato			{ background-position:-90px 0;		}
.theme_options ul.social-list li a.social-list-twitter			{ background-position:-30px 0;		}
.theme_options ul.social-list li a.social-list-facebook			{ background-position:-0px 0;		}
.theme_options ul.social-list li a.social-list-deviantart		{ background-position:-180px 0;	}
.theme_options ul.social-list li a.social-list-tumblr:hover		{ background-position:-150px -30px;	}
.theme_options ul.social-list li a.social-list-flickr:hover		{ background-position:-60px -30px;		}
.theme_options ul.social-list li a.social-list-envato:hover		{ background-position:-90px -30px;		}
.theme_options ul.social-list li a.social-list-twitter:hover	{ background-position:-30px -30px;		}
.theme_options ul.social-list li a.social-list-facebook:hover	{ background-position:-0px -30px;		}
.theme_options ul.social-list li a.social-list-deviantart:hover	{ background-position:-180px -30px;	}

.boxed_bg_image ul.layout_chooser
{
	clear: both;
	width: 170px;
}
.boxed_bg_image ul.layout_chooser li
{
	float: left;
	border: none;
	padding: 0;
	margin-left: 5px;
	margin-top: 5px;
}
.boxed_bg_image ul.layout_chooser li:first-child,
.boxed_bg_image ul.layout_chooser li.first
{
	margin-left: 0;
}
.boxed_bg_image ul.layout_chooser li a,
.theme_options .boxed_bg_image .color_preview
{
	display: block;
	width: 23px;
	height: 23px;
	padding-top: 7px;
	padding-left: 7px;
	text-align: center;
}
.boxed_bg_image ul.layout_chooser li a.pattern-1
{
	background: url("../../style_selector/images/pattern_1.png");
}
.boxed_bg_image ul.layout_chooser li a.pattern-2
{
	background: url("../../style_selector/images/pattern_2.png");
}
.boxed_bg_image ul.layout_chooser li a.pattern-3
{
	background: url("../../style_selector/images/pattern_3.png");
}
.boxed_bg_image ul.layout_chooser li a.pattern-4
{
	background: url("../../style_selector/images/pattern_4.png");
}
.boxed_bg_image ul.layout_chooser li a.pattern-5
{
	background: url("../../style_selector/images/pattern_5.png");
}
.boxed_bg_image ul.layout_chooser li a.pattern-6
{
	background: url("../../style_selector/images/pattern_6.png");
}
.boxed_bg_image ul.layout_chooser li a.pattern-7
{
	background: url("../../style_selector/images/pattern_7.png");
}
.boxed_bg_image ul.layout_chooser li a.pattern-8
{
	background: url("../../style_selector/images/pattern_8.png");
}
.boxed_bg_image ul.layout_chooser li a.pattern-9
{
	background: url("../../style_selector/images/pattern_9.png");
}
.boxed_bg_image ul.layout_chooser li a.pattern-10
{
	background: url("../../style_selector/images/pattern_10.png");
}
.boxed_bg_image ul.layout_chooser li a.image-1
{
	background: url("../../style_selector/images/image_1.png");
}
.boxed_bg_image ul.layout_chooser li a.image-2
{
	background: url("../../style_selector/images/image_2.png");
}
.boxed_bg_image ul.layout_chooser li a.image-3
{
	background: url("../../style_selector/images/image_3.png");
}
.boxed_bg_image ul.layout_chooser li a.image-4
{
	background: url("../../style_selector/images/image_4.png");
}
.boxed_bg_image ul.layout_chooser li a.image-5
{
	background: url("../../style_selector/images/image_5.png");
}
.boxed_bg_image ul.layout_chooser li a:hover
{
	text-decoration: none;
}
.boxed_bg_image ul.layout_chooser li a .tick,
.boxed_bg_image .color_preview .tick
{
	display: none;
	width: 16px;
	height: 16px;
	background: #F4BC16 url("../../style_selector/images/tick.png") no-repeat center center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.boxed_bg_image ul.layout_chooser li a:hover .tick,
.boxed_bg_image ul.layout_chooser li.selected a .tick,
.boxed_bg_image .color_preview:hover .tick,
.boxed_bg_image .selected .color_preview .tick
{
	display: block;
}
.boxed_bg_image ul.layout_chooser #overlay
{
	margin: 5px 0 0;
}
.boxed_bg_image ul.layout_chooser .overlay_label
{
	float: right;
	margin-left: 5px;
	margin-top: 3px;
	cursor: pointer;
}
/* --- Menu icons --- */
#adminmenu #menu-posts-ql_services .menu-icon-ql_services div.wp-menu-image:before
{
	content: "\f308";
}
#adminmenu #menu-posts-re_projects .menu-icon-re_projects div.wp-menu-image:before
{
	content: "\f322";
}
#adminmenu #menu-posts-ql_team .menu-icon-ql_team div.wp-menu-image:before
{
	content: "\f307";
}
/* --- Meta box options --- */
.points_scale, .repeated_row_review, #repeated_row_review, .percent_sign, .review_description, .review_title
{
	display: none;
}
.points_scale input,
.review_details input
{
	width: auto;
}
.meta_box_options_left,
.meta_box_options_right
{
	float: left;
	width: 45%;
}
.meta_box_options_right
{
	margin-left: 5%;
}
.meta_box_options_left input,
.meta_box_options_right input
{
	width: auto;
}
.meta_box_options_left .image_description_row textarea
{
	width: 350px;
}
#page-custom-options
{
	display: none;
}
.gallery_row
{
	margin-top: 20px;
}
/* --- widgets --- */
.widget-inside .regular-text.color
{
	width: 60px;
}
/* --- visual composer --- */
.wpb_el_type_hidden
{
	display: none;
}
#wpb-js-composer-settings .vc_settings-tab-control:nth-child(5) 
{
    display: none;
}
#toplevel_page_vc-general ul.wp-submenu li:nth-child(6),
#wpb-js-composer-settings .nav-tab-wrapper a:nth-child(5)
{
	display: none;
}
.wpb_el_type_colorpicker .color-group
{
	height: 30px;
}
.wpb_our_clients_carousel .attachment-thumbnails
{
    overflow: hidden;
    height: 20px;
    padding: 0px;
    margin: 0;
}
.wpb_our_clients_carousel .attachment-thumbnails li
{
    height: 20px;
    width: 20px;
    overflow: hidden;
    margin-right: 3px;
    text-align: center;
    display: inline-block;
}
.wpb_our_clients_carousel .attachment-thumbnails img
{
    height: 20px;
    width: auto;
}
.wpb_our_clients_carousel .column_edit_trigger
{
    /*width: 100%;
    top: 18px;*/
    display: block;
    float: left;
    font-size: 11px;
    line-height: 12px;
    text-decoration: none;
    border-bottom: 1px dotted;
    margin-top: 2px;
}
.wpb_bootstrap_modals .dropdownmulti
{
	height: 150px;
}
.vc_row-fluid.wpb_el_type_listitemwindow
{
	border: none;
	padding: 0;
	margin: 0;
}
.listitemwindow
{
	padding-bottom: 0;
}
.listitemwindow .modal-body.wpb-edit-form
{
	padding: 15px;
}
.listitemwindow .vc_panel-heading
{
	cursor: default;
}
.wpb_bootstrap_modals .iris-border .iris-picker-inner
{
	z-index: 1;
}
.wpb_el_type_attach_images_custom .gallery_widget_add_images
{
	margin-top: 5px;
	display: inline-block;
	height: 80px;
	width: 80px;
	background: #F5F5F5 url("../../wpbakery/js_composer/assets/vc/add.png") no-repeat center center;
	border: 1px solid #DFDFDF;
	font-size: 1px;
	color: #DFDFDF;
}
.wpb_el_type_attach_images_custom .gallery_widget_add_images:hover
{
	color: #C8C8C8;
	border-color: #C8C8C8;
	text-decoration: none;
}
.icon-wpb-layer-items-list,
.icon-wpb-layer-carousel,
.icon-wpb-layer-post-grid,
.icon-wpb-layer-announcement-box,
.icon-wpb-layer-comments,
.icon-wpb-layer-box-header,
.icon-wpb-layer-testimonials,
.icon-wpb-layer-custom-post-type,
.icon-wpb-layer-small-slider,
.icon-wpb-layer-featured-item,
.icon-wpb-layer-timeline-item,
.icon-wpb-layer-contact-form,
.icon-wpb-layer-blog,
.icon-wpb-layer-post,
.icon-wpb-layer-timetable,
.icon-wpb-layer-slider,
.icon-wpb-layer-notification-box,
.icon-wpb-layer-dropcap,
.icon-wpb-layer-icon,
.icon-wpb-layer-pricing-table,
.icon-wpb-layer-rank-list,
.icon-wpb-layer-custom-post-type-list,
.icon-wpb-layer-top-authors,
.icon-wpb-layer-authors-carousel,
.icon-wpb-layer-call-to-action-box,
.icon-wpb-layer-search-box,
.icon-wpb-layer-cost-calculator-slider-box,
.icon-wpb-layer-cost-calculator-dropdown-box,
.icon-wpb-layer-cost-calculator-input-box,
.icon-wpb-layer-cost-calculator-summary-box
{
	background-image: url("../images/visual_composer/visual_composer.png");
}
.icon-wpb-layer-items-list { background-position: 0 0}
.icon-wpb-layer-carousel { background-position: 0 -32px;}
.icon-wpb-layer-post-grid { background-position: 0 -64px;}
.icon-wpb-layer-announcement-box { background-position: 0 -96px;}
.icon-wpb-layer-comments { background-position: 0 -128px;}
.icon-wpb-layer-box-header { background-position: 0 -160px;}
.icon-wpb-layer-testimonials { background-position:  0 -192px;}
.icon-wpb-layer-custom-post-type { background-position:  0 -224px;}
.icon-wpb-layer-small-slider { background-position:  0 -256px;}
.icon-wpb-layer-featured-item { background-position: 0 -288px;}
.icon-wpb-layer-contact-form { background-position: 0 -320px;}
.icon-wpb-layer-blog { background-position: 0 -352px;}
.icon-wpb-layer-post { background-position: 0 -384px;}
.icon-wpb-layer-timetable { background-position: 0 -416px;}
.icon-wpb-layer-slider { background-position: 0 -448px;}
.icon-wpb-layer-notification-box { background-position: 0 -480px;}
.icon-wpb-layer-dropcap { background-position: 0 -512px;}
.icon-wpb-layer-icon { background-position: 0 -544px;}
.icon-wpb-layer-pricing-table { background-position: 0 -576px;}
.icon-wpb-layer-timeline-item { background-position: 0 -608px;}
.icon-wpb-layer-custom-post-type-list { background-position: 0 -640px;}
.icon-wpb-layer-top-authors { background-position: 0 -672px;}
.icon-wpb-layer-authors-carousel { background-position: 0 -704px;}
.icon-wpb-layer-call-to-action-box { background-position: 0 -736px;}
.icon-wpb-layer-search-box { background-position: 0 -768px;}
.icon-wpb-layer-cost-calculator-slider-box { background-position: 0 -800px;}
.icon-wpb-layer-cost-calculator-dropdown-box { background-position: 0 -832px;}
.icon-wpb-layer-cost-calculator-input-box { background-position: 0 -864px;}
.icon-wpb-layer-cost-calculator-summary-box { background-position: 0 -896px;}
/* icons */
.vc_color-picker .wp-picker-holder
{
    z-index: 1;
}
#poststuff .wpb_vc_nested_accordion > .vc_controls
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e6e6e6;
    border-image: none;
    border-style: dotted;
    border-width: 1px 1px 0;
    height: 23px;
    margin: 18px 0 2px;
    opacity: 1 !important;
    position: relative;
    visibility: visible;
}
#poststuff .wpb_vc_nested_accordion > .wpb_element_wrapper 
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: auto;
    padding: 0;
}
#poststuff .wpb_vc_nested_accordion .ui-icon 
{
    background: rgba(0, 0, 0, 0) url("../images/visual_composer/controls.png") no-repeat scroll -16px -16px;
    display: block;
    height: 16px;
    left: 19px;
    margin-top: 0;
    position: absolute;
    top: 18px;
    width: 16px;
}
#poststuff .wpb_vc_nested_accordion .ui-accordion-header 
{
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 16px;
}
#poststuff .wpb_vc_nested_accordion .ui-accordion-header.ui-state-active 
{
    background: #fff none repeat scroll 0 0;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
#poststuff .wpb_vc_nested_accordion .ui-accordion-header.ui-state-active .ui-icon 
{
    background-position: -16px -128px;
}
#poststuff .wpb_vc_nested_accordion .tab-label 
{
    color: #6f777d;
    font-size: 14px;
    margin-left: 23px;
}
#poststuff .wpb_vc_nested_accordion .wpb_vc_nested_accordion_tab.ui-accordion-content 
{
    margin-bottom: 3px;
    overflow: visible;
}
#poststuff .wpb_vc_nested_accordion .tab_controls 
{
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
}
#poststuff .wpb_vc_nested_accordion .tab_controls .add_tab 
{
    color: #b0b4b8;
    cursor: pointer;
    display: block;
    height: 16px;
    opacity: 0.7;
    padding: 16px;
    position: relative;
    width: 100%;
}
#poststuff .wpb_vc_nested_accordion .tab_controls .add_tab .vc_icon 
{
    background-position: -16px -16px;
    left: 19px;
    position: absolute;
    top: 18px;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .vc_controls, .wpb_vc_nested_accordion_tab > .vc_controls, .wpb_vc_nested_tabs > .vc_controls
{
    opacity: 1 !important;
    visibility: visible;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .bottom-controls, .wpb_vc_nested_accordion_tab > .bottom-controls 
{
    display: none;
    top: auto;
}
.wpb_vc_nested_accordion_tab 
{
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 6px 14px 14px;
}
.wpb_vc_nested_accordion_tab > .vc_controls 
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 35px;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .vc_controls, .wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_row_inner > .vc_controls > .column_move 
{
    background-color: #f5f5f5;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container.empty_container 
{
    background-position: center center;
    height: 80px;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper 
{
    background-color: #f5f5f5;
    padding: 14px;
}
.wpb_vc_nested_tabs > .vc_controls 
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e6e6e6;
    border-image: none;
    border-style: dotted;
    border-width: 1px 1px 0;
    height: 23px;
    margin: 18px 0 2px;
    position: relative;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper 
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: auto;
    padding: 0;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .tabs_controls, .wpb_vc_nested_tabs > .wpb_element_wrapper .wpb_nested_tabs_holder 
{
    padding: 0;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav 
{
    border-right: 1px dotted #e6e6e6;
    position: relative;
    top: 1px;
    z-index: 2;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li 
{
    background: #e6e6e6 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-right: 3px;
    padding: 0;
    top: -1px;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .bottom-controls, .wpb_vc_accordion_nested_tab > .bottom-controls 
{
    display: none;
    top: auto;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a 
{
    color: #848c91;
    padding: 10px 16px;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block 
{
    padding: 11px;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block a 
{
    background: rgba(0, 0, 0, 0) url("../images/visual_composer/controls.png") no-repeat scroll -16px -16px;
    display: inline-block;
    height: 16px;
    padding: 0;
    width: 16px;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active 
{
    background: #fff none repeat scroll 0 0;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab 
{
    background-color: #fff;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .vc_controls 
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 35px;
    position: relative;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .vc_controls, .wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_row_inner > .vc_controls > .column_move 
{
    background-color: #f5f5f5;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .wpb_element_wrapper > .wpb_column_container.empty_container 
{
    background-position: center center;
    height: 80px;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper 
{
    background-color: #f5f5f5;
    padding: 14px;
}
.wpb_vc_nested_accordion_tab 
{
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 6px 14px 14px;
}
.wpb_vc_nested_accordion_tab > .vc_controls 
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 35px;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .vc_controls, .wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_row_inner > .vc_controls > .column_move 
{
    background-color: #f5f5f5;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container.empty_container 
{
    background-position: center center;
    height: 80px;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper 
{
    background-color: #f5f5f5;
    padding: 14px;
}