/*
Theme Name: Renovate
Theme URI: http://themeforest.net/item/renovate-construction-renovation-wordpress-theme/11789093?ref=QuanticaLabs
Description: Renovate is a responsive and retina ready WordPress Theme best suitable for construction, renovation, remodeling or handyman business. The Theme comes with Cost Calculator Tool - a quick and easy way to get cost estimates for construction or remodeling services. Renovate includes Slider Revolution plugin, premium font icons, 12 page templates, sticky menu, touch friendly slider and carousels, ajax contact form and more. 
Author: QuanticaLabs
Author URI: http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Version: 3.5.1
Tags: light, white, one-column, two-columns, three-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, sticky-post, theme-options, translation-ready
*/

/* Table of Content
==================================================
#general
#body styles
#site container
#header
#footer
#page
#blog
#single post
#lists
#taxonomies
#forms
#pagination
#comments
#carousel
#icons
#buttons
#misc
#Visual Composer
#WP core
*/

/* --- general --- */
.clearfix:after
{
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
body
{
	background: #E5E5E5;
	padding: 0px;
	margin: 0px;
	font-family: 'Arial';
	font-size: 14px;
	color: #444;	
    overflow-x: hidden !important;
    width: 100%;
    margin: 0 auto;
}
a
{
	text-decoration: none;
	outline: none;
}
a:hover
{
	text-decoration: underline;
}
a img
{
	display: block;
	transition: opacity 0.3s ease 0s;
	opacity: 1;
	max-width: 100%;
	height: auto;
}
a:hover img
{
	opacity: 0.8;
}
p.description,
.description p
{
	font-size: 16px;
	line-height: 26px;
	margin-top: 34px;
}
p
{
	color: #444;
	font-family: 'Raleway';
	font-size: 16px;
	line-height: 24px;
	margin-top: 24px;
	padding: 0;
}
p a,
table a,
.wpb_text_column a
{
	color: #F4BC16;
	font-weight: 600;
}
strong
{
	color: #000;
}
blockquote
{
	text-align: center;
	font-family: 'Raleway';
	font-size: 16px;
	color: #444;
	line-height: 26px;
}
blockquote:before
{
	display: block;
	font-size: 48px;
	color: #F4BC16;
	text-align: left;
	margin-bottom: 10px;
}
pre
{
	font-family: 'Courier new';
    font-size: 14px;
    line-height: 135%;
	background: url('images/code_background.png') repeat;
	text-shadow: 0 1px 0 #FFF;
	zoom:1;
	filter: dropshadow(color=#ffffff, offx=0, offy=1); 
	padding: 0 5px;
	margin: 0;
	overflow: auto;
}
label
{
	color: #25282A;
	font-family: 'Raleway';
}
.relative
{
	position: relative;
}
.responsive
{
	display: block;
	width: 100%;
	height: auto;
}
input, textarea
{
	font-family: 'Raleway';
	border: 1px solid #E2E6E7;
	font-size: 14px;
	line-height: 24px;
	padding: 12px 15px;
	color: #444;
	margin: 0;
}
input[type='number'] 
{
   appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	-webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
}
table
{
	width: 100%;
}
table td, table th
{
	padding: 18px 30px;
	font-family: 'Raleway';
	font-size: 14px;
	line-height: 24px;
}
table td, table th
{
	border-left: 1px solid #E2E6E7;
}
table td:first-child, table th:first-child
{
	text-align: right;
	border-left: none;
}
.align-left table td:first-child, .align-left table th:first-child
{
	text-align: left;
}
table tr:nth-child(odd)
{
	background: #F5F5F5;
}
.radius
{
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
img.radius
{
	max-width: 100%;
}
.float
{
	float: left;
}
.align-center
{
	text-align: center;
}
.align-left
{
	text-align: left;
}
.align-right
{
	text-align: right;
}
.padding-left-right-100
{
	padding: 0 100px !important;
}
.padding-bottom-17
{
	padding-bottom: 17px;
}
.padding-bottom-50
{
	padding-bottom: 50px !important;
}
.padding-bottom-61
{
	padding-bottom: 61px;
}
.padding-bottom-66
{
	padding-bottom: 66px;
}
.padding-bottom-70
{
	padding-bottom: 70px;
}
.padding-bottom-87
{
	padding-bottom: 87px;
}
.padding-top-0
{
	padding-top: 0 !important;
}
.padding-top-7
{
	padding-top: 7px;
}
.padding-top-54
{
	padding-top: 54px;
}
.padding-top-67
{
	padding-top: 67px;
}
.padding-top-70
{
	padding-top: 70px;
}
.padding-top-bottom-30
{
	padding: 30px 0;
}
.margin-top-0
{
	margin-top: 0 !important;
}
.margin-top-10
{
	margin-top: 10px !important;
}
.margin-top-20
{
	margin-top: 20px;
}
.margin-top-24
{
	margin-top: 24px;
}
.margin-top-26
{
	margin-top: 26px;
}
.margin-top-30
{
	margin-top: 30px;
}
.margin-top-34
{
	margin-top: 34px !important;
}
.margin-top-40
{
	margin-top: 40px !important;
}
.margin-top-67
{
	margin-top: 67px;
}
.margin-top-70
{
	margin-top: 70px !important;
}
.margin-bottom-20
{
	margin-bottom: 20px;
}
.margin-bottom-30
{
	margin-bottom: 30px;
}
.nounderline,
.nounderline:hover
{
	text-decoration: none;
}
.top-border
{
	border-top: 1px solid #E2E6E7;
}
/* --- site container --- */
.site-container
{
}
/* --- headers --- */
h1, h2, h3, h4, h5, h6
{
	font-family: 'Raleway';
	margin: 0;
	padding: 0;
	color: #000;
	font-weight: 600;
	letter-spacing: 1px
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
	color: #000;
	transition: opacity 0.3s ease 0s;
	opacity: 1;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
	opacity: 0.6;
	text-decoration: none;
}
h1
{
	font-size: 22px;
	line-height: 34px;
}
h2
{
	font-size: 29px;
	line-height: 40px;
}
h3
{
	font-size: 22px;
	line-height: 34px;
}
h4
{
	font-size: 18px;
	line-height: 28px;
}
h5
{
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}
h2.widgettitle,
h6
{
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	letter-spacing: normal;
}
h2.box-header
{
	text-align: center;
}
h2.box-header.align-left
{
	text-align: left;
}
h2.widgettitle:after,
.box-header:after
{
	display: block;
	content: "";
	background: #F4BC16;
	width: 40px;
	height: 2px;
	margin-top: 13px;
}
h2.box-header:after
{
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
h2.box-header.align-left:after
{
	margin-left: 0;
}
h3 .more
{
	margin-left: 50px;
}
h2.widgettitle,
h6.box-header
{
	border-bottom: 1px solid #E2E6E7;
}
h2.widgettitle:after,
h6.box-header:after
{
	margin-bottom: -1px;
}
/* --- header --- */
.header-container
{
	padding: 16px 0px 6px 0;
	background: #FFF;
	display: block;
	/* overflow: hidden; */
	position: absolute;
	z-index: 9;
	width:  100%;
}
.header-container .vertical-align-table
{
	width: 100%;
}
.header-top-bar-container
{
	background-color: #F5F5F5;
}
.header-top-bar-container .header-toggle
{
	display: none;
	clear: both;
	text-align: center;
	color: #444;
	padding: 15px 0;
}
.header-top-bar-container .header-toggle:hover
{
	color: #000;
}
.header-top-bar-container .header-toggle
{
	-moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-filter: fliph;
    filter: fliph;
}
.header-top-bar-container .header-toggle.active
{
	-moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}
.header-top-bar,
.header
{
	/* width: 1170px; */
	margin-left: auto;
	margin-right: auto;
}
.header .logo
{
	/* width: 370px; */
	max-width: 401px;
	padding: 0 20px 0 7px;
	float: left;
}
.header h1
{
	font-size: 37px;
	font-weight: 900;
	color: #F4BC16;
	line-height: 1;
}
.header h1 a
{	
	color: #F4BC16;
}
.header h1 a:hover
{
	opacity: 1;
}
/* --- page header --- */
.page-header
{
	height: 100px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05) inset;
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05) inset;
}
.page-header-left
{
	float: left;
	width: 400px;
}
.page-header-left h1
{
	margin-top: 30px;
	text-transform: uppercase;
}
.page-header-right
{
	visibility: hidden;
	float: right;
	width: 650px;
}
.page-header-right label
{
	float: left;
}
/* --- bread crumbs --- */
.bread-crumb-container
{
	float: right;
	padding: 7px 0;
}
.bread-crumb
{
	float: left;
}
.bread-crumb li
{
	float: left;
	margin-left: 3px;
	text-transform: uppercase;
}
.bread-crumb-container label,
.bread-crumb li,
.bread-crumb li a
{
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 13px;
	color: #999;
	line-height: 20px;
}
.bread-crumb li a
{
	color: #444;
}
/* --- menu --- */
.menu-container
{
	/* width: 990px; */
	/*float: right;*/
}

body .header-container .menu-container .sf-menu>li a {
    font-size:  20px;
    /* font-weight:  800; */
}

.menu-container nav
{
	/* float: right; */
}
.header-container.sticky.move
{
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
	padding: 16px 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.boxed .header-container.sticky.move
{
	max-width: 1310px;
	width: 100%;
}
.sf-menu
{
	float: none;
	padding: 0;
	margin: 0;
}
.sf-menu li
{
	border: none;
	overflow: hidden;
}
.sf-menu li, .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active
{
	background: none #fff;
	
}
.sf-menu li:hover a, .sf-menu li:hover a:visited
{
	color: #F4BC16;
}
.sf-menu li a, .sf-menu li a:visited
{
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: 400;
	/* line-height: 43px; */
	color: #444444;
	padding: 12px 0 12px 26px;
	border: none;
}
.sf-menu a:hover,
.sf-menu a:visited:hover,
.sf-menu li.current-menu-item a,
.sf-menu li.current-menu-parent a,
.sf-menu li.current-menu-ancestor a
{
	color: #F4BC16;
}
body .header-container .menu-container .sf-menu>li:first-child>a
{
	padding-left: 0;
}
.sf-menu li ul
{
	border: 1px solid #E2E6E7;
}
.sf-menu li ul
{
	width: 218px;
}
.sf-menu li:hover, .sf-menu li.sfHover
{
	overflow: visible;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul
{
	top: 43px;
	left: 5px;
}
.sf-menu li.left-flyout:hover ul, .sf-menu li.left-flyout.sfHover ul
{
	left: auto;
	right: 0;
}
.sf-menu>li:first-child:hover ul, .sf-menu>li:first-child.sfHover ul
{
	left: -21px;
	background: none;
}
.sf-menu li ul li
{
	/* width: 218px; */
	/* height: auto; */
	/* padding: 0; */
	background: white;
	/* border: none; */
	/* float:  left; */
	/* display: block; */
}
.menu-container .sf-menu li:hover ul a,
.menu-container .sf-menu li.menu-item-has-children:hover ul a,
.menu-container .sf-menu li ul li a,
.menu-container .sf-menu li.menu-item-has-children:hover ul li.current-menu-item ul li a,
.menu-container .sf-menu li.menu-item-has-children:hover ul li.current-menu-parent ul li a,
.menu-container .sf-menu li.menu-item-has-children:hover ul li.current-menu-ancestor ul li a
{
	color: #444;
}
.menu-container .sf-menu li ul li a,
.menu-container .sf-menu li.current-menu-item ul li a,
.menu-container .sf-menu li.current-menu-parent ul li a,
.menu-container .sf-menu li.current-menu-ancestor ul li a,
.menu-container .sf-menu li.current-menu-parent.menu-item-has-children ul li a, 
.menu-container .sf-menu li.current-menu-ancestor.menu-item-has-children ul li a,
.menu-container .sf-menu li.menu-item-has-children ul li a,
.menu-container .sf-menu li.menu-item-has-children:hover ul li a,
.menu-container .sf-menu li:hover ul li a
{
	color: #444;
	border-top: 1px solid #E2E6E7;
	background-color: #FFF;
	padding: 13px 20px;
	background-image: none;
}
body .menu-container .sf-menu li ul.sub-menu li:first-child>a
{
	border-top: none;
}
.menu-container .sf-menu li ul li.current-menu-item a,
.menu-container .sf-menu li ul li.current-menu-parent a,
.menu-container .sf-menu li ul li.current-menu-ancestor a,
.menu-container .sf-menu li.menu-item-has-children ul li a:hover,
.menu-container .sf-menu li.menu-item-has-children:hover ul li.current-menu-item a,
.menu-container .sf-menu li.menu-item-has-children:hover ul li.current-menu-parent a,
.menu-container .sf-menu li.menu-item-has-children:hover ul li.current-menu-ancestor a,
.menu-container .sf-menu li.menu-item-has-children:hover ul li.current-menu-item ul li a:hover,
.menu-container .sf-menu li.menu-item-has-children:hover ul li.current-menu-parent ul li a:hover,
.menu-container .sf-menu li.menu-item-has-children:hover ul li.current-menu-ancestor ul li a:hover,
.menu-container .sf-menu li.menu-item-has-children:hover ul li ul li.current-menu-item a,
.menu-container .sf-menu li.menu-item-has-children:hover ul li ul li.current-menu-parent a,
.menu-container .sf-menu li.menu-item-has-children:hover ul li ul li.current-menu-ancestor a,
.menu-container .sf-menu li:hover ul li.sfHover>a
{	
	color: #F4BC16;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul,
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul
{
	left: 218px;
	z-index: 2 !important;
}
ul.sf-menu li li:first-child:hover ul, ul.sf-menu li li.sfHover:first-child ul,
ul.sf-menu li li:first-child li:first-child:hover ul, ul.sf-menu li li:first-child li.sfHover:first-child ul
{
	top: -1px;
}
/* --- mobile menu --- */
.mobile-menu-container
{
	display: none;
}
.header .mobile-menu-switch,
.mobile-menu,
.mobile-menu-divider
{
	display: none;
	margin-left: auto;
	margin-right: auto;
}
.mobile-menu-divider
{
	margin-top: 15px;
}
.mobile-menu li a
{
	display: block;
	color: #25282A;
	background: #F0F0F0;
	font-size: 14px;
	font-family: 'Raleway';
	line-height: 24px;
	padding: 12px 20px;
	margin-bottom: 1px;
}
.mobile-menu li.current-menu-item>a,
.mobile-menu li.current-menu-ancestor ul li.current-menu-item a,
.mobile-menu li.current-menu-ancestor ul li.current-menu-parent ul li.current-menu-item a,
.mobile-menu li.current-menu-ancestor a,
.mobile-menu li.current-menu-ancestor ul li.current-menu-parent a,
.mobile-menu li.current-menu-ancestor ul li.current-menu-parent ul li.current-menu-parent a
{
	background: #F4BC16;
	color: #FFF;
}
.mobile-menu li ul a
{
	font-size: 14px;
	padding-left: 40px;
}
.mobile-menu li ul ul a
{
	font-size: 13px;
	padding-left: 80px;
}
.mobile-menu li.current-menu-ancestor ul a,
.mobile-menu li.current-menu-ancestor ul li.current-menu-item ul a,
.mobile-menu li.current-menu-ancestor ul li.current-menu-parent ul a,
.mobile-menu li.current-menu-ancestor ul li.current-menu-parent ul li.current-menu-item ul a,
.mobile-menu li.current-menu-ancestor ul li.current-menu-parent ul li.current-menu-parent ul a
{
	color: #25282A;
	background: #F0F0F0;
}
.mobile-menu-switch .line
{
	display: block;
	width: 30px;
	height: 3px;
	background: #444;
	margin-top: 6px;
}
.mobile-menu-switch .line:first-child
{
	margin-top: 0;
}
.mobile-menu-switch:hover .line
{
	background: #F4BC16;
}
/* --- vertical menu --- */
.vertical-menu li
{
	margin-top: 10px;
}
.vertical-menu li:first-child
{
	margin-top: 0;
}
.vertical-menu li a
{	
	display: block;
	background: #F5F5F5;
	padding: 18px 18px 18px 19px;
	font-family: 'Raleway';
	line-height: 24px;
	color: #444;
}
.vertical-menu li.current-menu-item a,
.vertical-menu li:hover a
{
	background: #F4BC16;
}
.vertical-menu li.current-menu-item a,
.vertical-menu li:hover a,
.vertical-menu li.current-menu-item a:after,
.vertical-menu li:hover a:after
{
	color: #FFF;
}
.vertical-menu li a:after
{
	float: right;
	color: #AAA;
	font-size: 11px;
	margin-top: 7px;
	font-family: "template";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    vertical-align: middle;
	content: "e";
}
/* --- page --- */
.theme-page
{
}
.page-margin-top,
.error404 .feature-item.feature-item-big h4.page-margin-top,
.page-template-404 .feature-item.feature-item-big h4.page-margin-top
{
	margin-top: 50px;
}
.page-margin-top-section
{
	margin-top: 65px;
}
.page-padding-top
{
	padding-top: 50px;
}
.page-padding-top-section
{
	padding-top: 65px;
}
/* --- vertical align --- */
.vertical-align-table
{
	display: table;
}
.vertical-align
{
	display: table-row;
}
.vertical-align-cell
{
	display: block;
	vertical-align: middle;
}
/* --- body styles --- */
body.image-1
{
	background: url("images/backgrounds/images/image_1.jpg") fixed no-repeat center 0;
}
body.image-2
{
	background: url("images/backgrounds/images/image_2.jpg") fixed no-repeat center 0;
}
body.image-3
{
	background: url("images/backgrounds/images/image_3.jpg") fixed no-repeat center 0;
}
body.image-4
{
	background: url("images/backgrounds/images/image_4.jpg") fixed no-repeat center 0;
}
body.image-5
{
	background: url("images/backgrounds/images/image_5.jpg") fixed no-repeat center 0;
}
body.pattern-1
{
	background: url("images/backgrounds/patterns/pattern_1.png") fixed;
}
body.pattern-2
{
	background: url("images/backgrounds/patterns/pattern_2.png") fixed;
}
body.pattern-3
{
	background: url("images/backgrounds/patterns/pattern_3.png") fixed;
}
body.pattern-4
{
	background: url("images/backgrounds/patterns/pattern_4.png") fixed;
}
body.pattern-5
{
	background: url("images/backgrounds/patterns/pattern_5.png") fixed;
}
body.pattern-6
{
	background: url("images/backgrounds/patterns/pattern_6.png") fixed;
}
body.pattern-7
{
	background: url("images/backgrounds/patterns/pattern_7.png") fixed;
}
body.pattern-8
{
	background: url("images/backgrounds/patterns/pattern_8.png") fixed;
}
body.pattern-9
{
	background: url("images/backgrounds/patterns/pattern_9.png") fixed;
}
body.pattern-10
{
	background: url("images/backgrounds/patterns/pattern_10.png") fixed;
}
body.overlay .background-overlay
{
	display: block;
}
.background-overlay
{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	background: url("images/backgrounds/images/overlay.png");
	z-index: 1;
}
/* --- page layout --- */
.site-container
{
	background: #FFF;
	overflow:  hidden;
}
.site-container.boxed
{
	max-width: 1310px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
}
body.overlay .site-container
{
	position: relative;
	z-index: 2;
}
.flex-box
{
	display: block;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flexbox;
	display: -webkit-flex;
}
.flex-hide
{
	display: none;
}
@media all and (min-width:0\0) and (min-resolution: .001dpcm)
{
    .flex-hide
	{
		display: inline;
	}
	.flex-hide.wpb_single_image img
	{
		width: 100%;
		height: auto;
	}
}
.flex-box .vc_column_container
{
	background-position: center center;
	background-size: cover;
}
.site-container .vc_row
{
	 width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.site-container .vc_row .wpb_column .vc_row
{
	width: auto;
}
.site-container .vc_row.full-width .vc_col-sm-12.wpb_column .vc_row
{
	width: 1170px;
}
.column .row
{
	width: auto;
}
.site-container .vc_row.full-width,
body .site-container .vc_row.full-width .wpb_column .vc_row.full-width
{
	width: 100%;
}
.site-container .vc_row.full-width.flex-box>.vc_col-sm-6 
{
	width: 50%;
}
.site-container .vc_row.full-width>.vc_col-sm-4
{
	width: 33%;
}
.site-container .vc_row.full-width.flex-box>.wpb_column
{
	margin: 0;
}
.site-container .vc_row.gray
{
	background: #F5F5F5;
}
.site-container .vc_row.yellow
{
	background: #F4BC16;
}
.site-container .vc_row:after
{
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
.column 
{
	position: relative;
	float: left;
	margin-left: 30px;
}
.column:first-child,
.column.first
{
	margin-left: 0;
}
.vc_row .vc_col-sm-8 .vc_col-sm-6 
{
	width: 370px;
}
.column-1-3 .column-1-2
{
	width: 150px;
}
.column-2-3 .column-1-3
{
	width: 210px;
}
.vc_row .vc_col-sm-3,
.vc_row .vc_col-sm-6 .vc_col-sm-6 
{
	width: 270px;
}
.vc_row .vc_col-sm-9
{
	width: 870px;
}
.vc_row .vc_col-sm-9 .vc_col-sm-9 
{
	width: 645px;
}
.vc_row .vc_col-sm-9 .vc_col-sm-6 
{
	width: 420px;
}
.column-right
{
	float: right;
}
.columns.no-width .column-left,
.columns.no-width .column-right
{
	width: auto;
}
/* --- services --- */
.services-list li,
.team-box
{
	position: relative;
	float: left;
	width: 390px;
	background: #FFF;
	padding-bottom: 26px;
	overflow: hidden;
}
div.team-box
{
	width: 100%;
}
.team-box
{
	padding-bottom: 0;
	background: transparent;
}
.services-list.services-icons .vc_row
{
	margin-top: 30px;
}
.services-list.services-icons .vc_row:first-child
{
	margin-top: 0;
}
.services-list.services-icons li
{
	width: 570px;
	padding: 40px 40px 36px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.services-list.services-items-border.services-icons li
{
	border: 1px solid #E2E6E7;
}
.services-list.services-icons li:nth-child(even)
{
	margin-left: 30px;
}
.services-list li .service-icon::before
{
	float: left;
	font-size: 48px;
	color: #F4BC16;
	border: 1px solid #E2E6E7;
	padding: 19px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.services-list.services-icons li .service-content
{
	margin-left: 128px;
}
.services-list li h4
{
	margin-top: 22px;
	text-align: center;
}
.team-box h4
{
	text-align: center;
}
.services-list li h4.box-header::after,
.team-box h4.box-header::after
{
	margin-top: 23px;
	margin-left: auto;
	margin-right: auto;
}
.team-box h4 span
{
	display: block;
	font-weight: 500;
	font-size: 11px;
	color: #999; 
	line-height: 21px;
	letter-spacing: 1px;
	padding-top: 7px;
}
.services-list li p,
.team-box p
{
	text-align: center;
	font-family: 'Raleway';
	font-size: 16px;
	line-height: 24px;
	padding: 24px 25px 0;
	margin: 0;
}
.services-list.services-icons li h4
{
	margin-top: -8px;
}
.services-list.services-icons li h4,
.services-list.services-icons li p
{
	text-align: left;
}
.services-list.services-icons li p
{
	padding: 24px 0 0;
}
.services-list.services-icons li h4.box-header::after
{
	margin-left: 0;
	margin-right: 0;
}
.services-list a>.re-preloader,
.team-box a>.re-preloader
{
	height: 260px;
}
.services-list img,
.team-box img
{
	max-width: 100%;
	height: auto;
}
.team-box ul.social-icons
{
	display: none;
	position: absolute;
	background: transparent;
}
.team-box ul.social-icons.social-static
{
	position: static;
	display: block;
	background: #FFF;
}
.team-box:hover ul.social-icons
{
	display: block;
}
.team-box .team-content
{
	padding-top: 23px;
	padding-bottom: 26px;
	background: #FFF;
	position: relative;
	z-index: 1;
}
.single .team-box .team-content
{
	background: #F5F5F5;
}
.team-box ul.social-icons li
{
	border: none;
	margin-left: 1px;
	background: #FFF;
}
.team-box ul.social-icons li a
{
	padding: 17px 18px;
	width: 14px;
	height: 16px;
}
.team-box ul.social-icons li:first-child
{
	margin-left: 0;
}
.team-box ul.social-icons li:hover
{
	background: #F4BC16;
}
.team-box ul.social-icons li:hover a
{
	color: #FFF;
}
/* --- projects --- */
.projects-list
{
	width: 100%;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
}
.projects-list li
{
	position: relative;
	float: left;
	width: 25%;
	overflow: hidden;
}
.projects-list.isotope li
{
	width: 270px;
	height: 180px;
	margin-top: 30px;
}
.projects-list li img
{
	width: 100%;
}
.projects-list a>.re-preloader
{
	height: 250px;
}
.projects-list li .view
{
	position: absolute;
	top: 0;
	background: rgba(38, 38, 40, 0.5);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}
.projects-list li:hover .view
{
	opacity: 1;
}
.projects-list li .view .vertical-align-table
{
	width: 100%;
	height: 100%;
}
.projects-list li .view p.description
{
	color: #FFF;
	margin-top: -20px;
	margin-bottom: 55px;
	font-size: 14px;
	line-height: 24px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}
.projects-list li:hover .view  p.description
{
	margin-bottom: 35px;
}
/* --- features --- */
.feature-item
{
	position: relative;
	float: left;
	width: 100%;
}
.feature-item.feature-item-big
{
	text-align: center;
}
.feature-item:before
{
	float: left;
	font-size: 48px;
	margin-right: 30px;
	color: #F4BC16;
	border: 1px solid #E2E6E7;
	padding: 0px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.feature-item.feature-item-big:before
{
	clear: both;
	float: none;
	/* display: block; */
	width: 60px;
	font-size: 60px;
	margin-left: auto;
	margin-right: auto;
	padding: 39px;
}
.feature-item .featured-item-icon-url 
{
	position: absolute;
	width: 88px;
    height: 88px;
    left: 0;
    top: 0;
}
.feature-item.feature-item-big .featured-item-icon-url
{
	width: 140px;
	height: 140px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.featured-item-icon-url:hover
{
	text-decoration: none;
}
.feature-item h4
{
	padding-bottom: 5px;
}
.feature-item p
{
	font-family: 'Raleway';
	font-size: 14px;
	line-height: 24px;
	padding: 0;
	margin-top: 19px;
	margin-left: 118px;
}
.feature-item.no-icon p
{
	margin-left: 0;
}
.feature-item.feature-item-big h4
{
	margin-top: 35px;
}
.feature-item.feature-item-big.no-icon h4
{
	margin-top: 0;
}
.feature-item.feature-item-big h4:after
{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
body .feature-item.feature-item-big p
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.vc_col-sm-3 .feature-item.feature-item-big p
{
	width: 100%;
}
.feature-item.feature-item-big .ornament
{
	position: relative;
	width: 1px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 13px;
	background: #E2E6E7;
}
.feature-item.feature-item-big .ornament:after
{
	position: absolute;
	content: "";
	border: 1px solid #E2E6E7;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 11px;
	height: 11px;
	left: -6px;
	bottom: -13px;
}
.error404 .feature-item.feature-item-big h4,
.page-template-404 .feature-item.feature-item-big h4
{
	font-size: 29px;
    line-height: 40px;
	padding-bottom: 0;
}
.error404 .feature-item.feature-item-big h4:after,
.page-template-404 .feature-item.feature-item-big h4:after
{
	width: 80px;
}
.error404 .feature-item.feature-item-big p,
.page-template-404 .feature-item.feature-item-big p
{
	font-size: 16px;
    line-height: 26px;
    margin-top: 34px;
}
/* --- timeline --- */
.timeline-item .timeline-left
{
	width: 190px;
	min-width: 190px;
}
.timeline-item .label-container
{
	position: relative;
}
.timeline-item .label-container .timeline-circle
{
	position: absolute;
	display: block;
	width: 19px;
	height: 19px;
	top: 4px;
	right: -11px;
	border: 1px solid #E2E6E7;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #FFF;
}
.timeline-item .label-container .timeline-circle::after
{
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	margin-left: 6px;
	margin-top: 6px;
	background: #F4BC16;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.timeline-item label
{
	float: right;
	max-width: 100px;
	overflow: hidden;
	font-family: 'Raleway';
	font-weight: 500;
	color: #FFF;
	font-size: 13px;
	line-height: 20px;
	background: #F4BC16;
	padding: 4px 15px 6px 20px;
	white-space: nowrap;
}
.timeline-item .label-triangle
{
	float: right;
	width: 0;
	height: 0;
	margin-right: 40px;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent transparent transparent #F4BC16;
}
.timeline-content
{
	padding: 22px 0 26px 40px;
	border-left: 1px solid #E2E6E7;
}
.timeline-content span.timeline-title
{
	margin-right: 10px;
}
.timeline-content span.timeline-subtitle
{
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 11px;
	color: #999;
	line-height: 16px;
	letter-spacing: 1px;
	margin-top: 9px;
}
/* --- testimonials --- */
.testimonials-container
{
	position: relative;
}
#block32  .testimonials-container .caroufredsel_wrapper_testimonials
{
	width: 94% !important;
	left: 60px !important;
}
.testimonials-container.type-small .caroufredsel_wrapper_testimonials
{
	width: 100% !important;
	left: 0 !important;
}
#block32 .vc_row.wpb_row.vc_inner.vc_row-fluid .testimonials-list li
{
	float: left;
	width: 500px;
	text-align: center;
}
.testimonials-list li::before
{
	display: block;
	width: 48px;
	font-size: 31px;
	margin-left: auto;
	margin-right: auto;
	color: #FFF;
	border: 1px solid #E2E6E7;
	padding: 0px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.testimonials-list .ornament
{
	position: relative;
	width: 1px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 13px;
	background: #E2E6E7;
}
.testimonials-list .ornament::after
{
	position: absolute;
	content: "";
	border: 1px solid #E2E6E7;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 11px;
	height: 11px;
	left: -6px;
	bottom: -13px;
}
.testimonials-list p
{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 21px;
	color: #FFFFFF;
	line-height: 36px;
	padding: 29px 50px 0;
	margin-top: 0;
}
.testimonials-list p::after
{
	display: block;
	content: "";
	background: #F4BC16;
	width: 40px;
	height: 2px;
	margin-top: 30px;
	margin-bottom: 34px;
	margin-left: auto;
	margin-right: auto;
}
.testimonials-list .author
{
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 13px;
	color: #FFF;
	line-height: 20px;
}
.testimonials-list .author-details
{
	margin-top: 7px;
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 11px; 
	color: #FFF;
	line-height: 16px;
	letter-spacing: 1px;
}
.testimonials-container .re-carousel-pagination
{
	position: absolute;
	right: 0;
	top: -52px;
}
.testimonials-container .re-carousel-pagination a
{
	margin-top: 0;
}
.type-small .testimonials-list p
{
	font-size: 16px;
	line-height: 26px;
	color: #444;
	border: 1px solid #E2E6E7;
	padding: 33px 40px 37px;
}
.type-small .testimonials-list p::after
{
	content: none;
}
.type-small .testimonials-list .ornament
{
	float: left;
	margin-left: 44px;
	margin-right: 43px;
	height: 101px;
}
.type-small .testimonials-list .ornament::after
{
	background: #FFF;
	bottom: 0;
	top: -7px;
}
.type-small .testimonials-list .ornament::before
{
	position: relative;
	display: block;
	color: #F4BC16;
	background: #FFF;
	width: 48px;
	font-size: 48px;
	top: 26px;
	left: -44px;
	border: 1px solid #E2E6E7;
	padding: 19px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
body .type-small .testimonials-list .ornament.empty-circle
{
	height: 79px;
	margin-right: 6px;
}
body .type-small .testimonials-list .ornament.empty-circle::before
{
	content: "";
	width: 11px;
	height: 11px;
	top: 66px;
	left: -6px;
	padding: 0;
}
.type-small .testimonials-list .author-details-box
{
	float: left;
	margin-top: 50px;
	margin-left: 30px;
}
.type-small .testimonials-list .author
{
	color: #444;
}
.type-small .testimonials-list .author-details
{
	color: #999;
}
.vc_col-sm-6 .type-small .testimonials-list li,
.vc_col-sm-4 .type-small .testimonials-list li
{
	width: 570px;
	text-align: left;
	margin-right: 30px;
}
.vc_col-sm-4 .type-small .testimonials-list li
{
	width: 370px;
}
/* --- our clients --- */
.our-clients-list-container
{
	overflow: hidden;
	text-align: center;
}
.our-clients-list li
{
	float: left;
	width: 170px;
	height: 120px;
	margin-right: 30px;
}
.our-clients-list li img
{
	width: 100%;
	height: auto;
}
.our-clients-list.type-list li
{
	position: relative;
	margin-right: -1px;
	border: 1px solid #E2E6E7;
	width: 33%;
	height: 150px;
	text-align: center;
}
.our-clients-list.type-list li:nth-child(n+4)
{
	margin-top: -1px;
}
.our-clients-list.type-list .our-clients-item-container
{	
	display: inline-block;
}
.our-clients-list.type-list li .vertical-align-cell
{
	text-align: center;
	height: 150px;
}
/* --- contact details --- */
.contact-details-box:before
{
	display: block;
	float: left;
	width: 48px;
	height: 48px;
	font-size: 34px;
	text-align:  center;
	color: #F4BC16;
	background: #FFF;
	border: 1px solid #FFF;
	/* padding: 19px; */
	margin-right: 29px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.contact-details-box h4
{
	color: #FFF;
}
.contact-details-box p
{
	font-family: 'Raleway';
	font-size: 21px;
	line-height: 26px;
	color: #FFF;
	padding: 1em 0;
	margin: 0;
}
.contact-details-box p a
{
	color: #FFF;
}
/* --- slider control --- */
.slider-control
{
	position: absolute;
	width: 26px;
	height: 26px;
	color: #FFF;
	border: 1px solid #E2E6E7;
	padding: 16px;
	left: 0;
	top: 43%;
	font-size: 24px;
	z-index: 1;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
     display: none!important;
}
.slider-control.right
{
	left: auto;
	right: 0;
	-moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
.slider-control:hover
{
	background: #F4BC16;
	border-color: #F4BC16;
}
/* --- parallax --- */
.re-parallax,
.re-parallax h2,
.re-parallax h4,
.re-parallax p,
.re-parallax .feature-item::before
{
	color: #FFF;
}
.re-parallax.cover
{
	background-size: cover;
}
/* --- counters --- */
span.number, 
span.odometer.number
{
	margin-top: 10px;
	font-family: 'Raleway';
	font-weight: 100;
	font-size: 80px;
	color: #FFF;
	visibility: visible;
}
span.number:after, 
span.odometer.number:after
{
	display: block;
	content: "";
	background: #F4BC16;
	width: 40px;
	height: 2px;
	margin: 20px auto 0;
}
/* --- blog --- */
.blog>li
{
	clear: both;
	float: left;
	margin-top: 70px;
}
.blog.two-columns>li,
.blog.three-columns>li
{
	clear: none;
	margin-top: 0;
}
.layout-column .blog.three-columns>li
{
	float: none;
	margin-top: 50px;
}
.blog.two-columns
{
	margin-top: 70px;
}
.blog.three-columns
{
	margin-top: 50px;
}
.blog>li:first-child,
.blog.small>li:first-child,
.blog.two-columns:first-child,
.blog.three-columns:first-child,
.layout-column .blog.three-columns>li:first-child
{
	margin-top: 0;
}
.blog .post-image,
.blog .post-content,
.blog .post-details,
.blog .post-content-details li
{
	float: left;
}
.blog .post-content h2,
.blog .post-content h3,
.blog.three-columns h4.box-header,
.blog.horizontal-carousel h4
{
	text-transform: uppercase;
}
.blog .post-content ol li,
.blog .post-content ul li
{
	padding-top: 3px;
	padding-bottom: 3px;
}
.blog .post-details
{
	width: 90px;
	margin-right: 30px;
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 13px;
	color: #999;
	line-height: 20px;
}
.blog .post-details a
{
	color: #999;
}
.blog .post-content
{
	width: 750px;
}
.blog .post-content .re-preloader
{
	height: 300px;
}
.blog .post-content .row
{
	width: auto;
}
.blog.small .post-content
{
	width: 160px;
}
.blog .post-details li
{
	border-top: 1px solid #E2E6E7;
	border-right: 1px solid #E2E6E7;
	text-align: center;
	padding: 10px 0;
}
.blog .post-details li:first-child
{
	border-top: none;
}
.blog .post-details .date h2,
.blog .post-details li:before
{
	color: #F4BC16;
}
.blog .post-details li.date:before
{
	display: none;
}
.blog .post-details li:before
{
	display: block;
	margin-bottom: 2px;
	font-size: 14px;
}
.blog .post-content-details
{
	margin-bottom: 16px;
}
.blog  ul.post-content-details li
{
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 13px;
	color: #999;
	line-height: 20px;
	margin-left: 10px;
	padding: 0;
}
.blog .post-content-details li:first-child
{
	margin-left: 0;
}
.blog .post-content-details li a
{
	color: #444;
}
.blog p
{
	margin-top: 34px;
}
.blog.horizontal-carousel p
{
	margin-top: 24px;
}
.blog .post-image
{
	width: 100%;
	margin-bottom: 25px;
}
.blog.small>li
{
	margin-top: 30px;
}
.blog.small .post-content a
{
	display: block;
	font-family: 'Raleway';
	font-size: 14px;
	color: #444444;
	line-height: 24px;
}
.blog.small .post-image
{
	width: auto;
	margin-bottom: 0;
	margin-right: 20px;
}
.blog.small li .post-details
{
	width: auto;
	clear: both;
	margin-top: 13px;
	margin-right: 0;
}
.blog.small li .post-details li
{
	text-align: left;
	padding: 0;
	border: none;
}
.vc_row .vc_col-sm-6 .blog .post-content,
.vc_row .blog .vc_col-sm-6 .post-content
{
	width: 450px;
}
.blog.three-columns .post-details
{
	width: 100%;
	margin-right: 0;
	border-bottom: 1px solid #E2E6E7;
	margin-bottom: 20px;
}
.blog.three-columns .post-details li
{
	float: left;
	border-top: none;
	padding: 10px 20px;
}
.blog.three-columns .post-details li:first-child
{
	padding-left: 0;
}
.blog.three-columns .post-details li:last-child
{
	border-right: none;
	padding-right: 0;
}
.blog.three-columns .post-details li::before,
.blog.three-columns .post-details li.date:before
{
	display: inline;
	margin-bottom: 0;
	margin-right: 10px;
}
.blog.three-columns .post-details li.date h2
{
	display: inline;
	margin: 0 2px;
	color: #999;
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
}
.blog.three-columns .post-details li.date h2::after
{
	content: ",";
}
/* --- post carousel --- */
.caroufredsel-wrapper 
{
	width: 100% !important;
    margin: 0 !important;
    overflow: hidden;
}
.blog.horizontal-carousel .post
{
	margin-left: 0;
	margin-right: 30px;
}
.horizontal-carousel
{
	display: none;
	transition: opacity 0.4s ease-in-out 0s;
}
.carousel-container
{
	position: relative;
	text-align: center;
}
.re-carousel-pagination
{
	display: block;
}
.re-carousel-pagination a
{
	display: inline-block;
	width: 1px;
	height: 1px;
	background: #E2E6E7;
	border: 5px solid #E2E6E7;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin-left: 10px;
	margin-top: 50px;
}
.re-carousel-pagination a:first-child
{
	margin-left: 0;
}
.re-carousel-pagination a.selected,
.re-carousel-pagination a:hover
{
	border-color: #F4BC16;
	background: #F4BC16;
}
.re-carousel-pagination span
{
	display: none;
}
/* --- single post --- */
.post.single blockquote, .post.single p, .post.single h3, .post.single h4
{	
	margin-top: 24px;
}
.post.single p
{
	padding: 1em 0;
}
.post.single blockquote::before
{
	content: "u";
    height: 48px;
    line-height: 52px;
	font-family: "streamline-small" !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    text-transform: none !important;
    vertical-align: middle;
}
.post.single blockquote p
{
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 26px;
}
.post.single .post-content img
{
	max-width: 100%;
}
/* --- taxonomies --- */
.widget_categories ul,
.widget_archive ul,
.widget_tag_cloud .tagcloud
{
	margin-top: 30px;
}
.widget_categories li,
.widget_archive li,
.widget_tag_cloud a,
.taxonomies li
{
	float: left;
	margin-right: 7px;
	margin-bottom: 7px;
}
.widget_categories a,
.widget_archive a,
.widget_tag_cloud a,
.taxonomies a
{
	display: block;
	border: 1px solid #E2E6E7;
	color: #999;
	line-height: 16px;
	letter-spacing: 1px;
	font-family: 'Raleway';
	font-size: 11px;
	font-weight: 500;
	padding: 10px 12px;
	text-align: left;
	text-transform: uppercase;
}
.widget_tag_cloud a
{
	font-size: 11px !important;
}
.widget_categories a:hover,
.widget_archive a:hover,
.widget_tag_cloud a:hover,
.taxonomies a:hover
{
	color: #FFF;
	background: #F4BC16;
	border-color: #F4BC16;
}
.full-width>.widget_categories li,
.full-width>.widget_archive li,
.full-width>.widget_tag_cloud li,
.taxonomies.full-width li
{
	width: 100%;
	margin-right: 0;
}
.widget_categories a span,
.widget_archive a span,
.widget_tag_cloud a span,
.taxonomies a span
{
	float: right;
	margin-left: 5px;
}
/* --- buttons --- */
.buttons li
{
	margin-top: 10px;
}
.buttons li:first-child
{
	margin-top: 0;
}
.re-action-button
{	
	display: block;
	background: #F5F5F5;
	padding: 18px 18px 18px 62px;
	font-family: 'Raleway';
	line-height: 24px;
	color: #444;
}
.re-action-button:before
{
	color: #F4BC16;
    float: left;
    font-size: 24px;
    margin-right: 19px;
	margin-left: -43px;
}
a.re-action-button.selected,
a.re-action-button:hover
{
	background: #F4BC16;
	color: #FFF;
}
a.re-action-button.selected:before,
a.re-action-button:hover:before
{
	color: #FFF;
}
/* --- announcement --- */
.announcement
{
	width: 100%;
	padding: 30px 0;
}
.vc_row.full-width>.vc_col-sm-12>.wpb_wrapper>.announcement
{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.announcement .vertical-align-cell:before
{
	float: left;
	font-size: 34px;
	margin-right: 24px;
	color: #F4BC16;
	border: 1px solid #E2E6E7;
	padding: 6px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.announcement .vertical-align
{
	height: 88px;
}
.announcement  h3
{
	margin-left: 118px;
}
.announcement p.description
{
	margin-top: 14px;
	margin-left: 118px;
	/*white-space: nowrap;*/
}
.announcement .vc_row .vc_col-sm-3
{
	width: auto;
	float: right;
	margin-left: 0;
}
/* --- call to action --- */
.call-to-action
{
	border: 1px solid #E2E6E7;
	padding: 30px 18px 47px;
	text-align: center;
}
.call-to-action:before
{
	display: block;
	width: 48px;
	height: 48px;
	font-size: 48px;
	margin-right: 30px;
	color: #F4BC16;
	border: 1px solid #E2E6E7;
	padding: 19px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.call-to-action h4
{
	margin-top: 22px;
}
.call-to-action p
{
	margin-top: 17px;
	margin-bottom: 43px;
}
.call-to-action .more
{
	margin-top: 28px;
}
/* --- comment form, contact form --- */
.comment-form input,
.comment-form textarea,
.contact-form input,
.contact-form textarea
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
}
.comment-form input,
.contact-form input
{
	margin-top: 20px;
}
.comment-form .block:first-child input,
.contact-form .block:first-child input
{
	margin-top: 0;
}
.comment-form textarea,
.contact-form textarea
{
	height: 190px;
	resize: none;
}
.comment-form [type='submit'],
.contact-form [type='submit']
{
	width: auto;
	font-size: 12px;
	color: #25282a;
	margin-top: 0;
	outline: none;
}
#cancel-comment
{
	display: none;
	font-size: 12px;
	margin-right: 20px;
	color: #F4BC16;
}
.comment-form p,
.contact-form p
{
	margin-top: 14px;
}
.comment-form .hint,
.contact-form .hint
{
	color: #999;
}
::-webkit-input-placeholder 
{
	color: #999;
}
:-moz-placeholder 
{
	color: #999;
    opacity:  1;
}
::-moz-placeholder
{
	color: #999;
    opacity:  1;
}
:-ms-input-placeholder 
{
	color: #999;
}
/* --- tooltip --- */
.ui-tooltip-error .ui-tooltip-content,
.ui-tooltip-success .ui-tooltip-content
{
	font-size: 13px;
	font-family: arial;
	color: #FFF;
}
.ui-tooltip-error .ui-tooltip-content,
.ui-tooltip-success .ui-tooltip-content
{
	border:none; 
}
.ui-tooltip-content
{
	padding: 10px 20px 10px 20px;
}
.ui-tooltip-error .ui-tooltip-content
{
	background: #E9431C;
}
.ui-tooltip-success .ui-tooltip-content
{
	background: #61911B;
}
/* --- comments list --- */
.comment
{
	margin-top: 30px;
}
#comments-list>.comment:first-child
{
	margin-top: 40px;
}
.comment-author-avatar
{
    float: left;
	width: 90px;
    height: 90px;
}
.posted-by abbr,
.bypostauthor
{
	font-family: 'Raleway';
	color: #999;
	font-size: 13px;
	margin-top: 7px;
	font-weight: 500;
	line-height: 20px;
	border: none;
	text-decoration: none;
}
.posted-by .in-reply
{
	margin-left: 5px;
	color: #ABABAB;
}
#comments-list .comment-details
{
	float: left;
	width: 750px;
	margin-left: 30px;
}
#comments-list .comment-details p
{
	font-family: 'Raleway';
	font-size: 14px;
	line-height: 24px;
	border-bottom: 1px solid #E2E6E7;
	padding: 24px 0;
	margin-top: 0;
}
#comments-list .children 
{
    clear: both;
    float: left;
    margin-left: 120px;
}
#comments-list .children .children
{
	margin-left: 0;
}
#comments-list .children .comment-details
{
	width: 630px;
}
#comments-list .comment-details .more
{
	float: right;
	color: #999;
	margin-top: -22px;
	font-weight: 500;
	font-size: 11px;
	line-height: 16px;
}
#comments-list .comment-details .more:hover
{
	color: #FFF;
}
/* --- pagination --- */
.pagination
{
	clear: both;
	float: right;
}
.pagination li
{
	font-family: 'Raleway';
	float: left;
	margin-left: 7px;
}
.pagination li:first-child
{
	margin-left: 0;
}
.pagination li a,
.pagination li span
{
	display: block;
    color: #999;
    font-size: 16px;
	width: 35px;
    padding: 9px 0 10px;
	border: 1px solid #E2E6E7;
	text-align: center;
}
.pagination li a:hover,
.pagination li.selected a,
.pagination li.selected span,
.pagination.post-pagination span,
.pagination.post-pagination a:hover span
{
	color: #FFF;
	background-color: #F4BC16;
	border-color: #F4BC16;
}
.pagination.post-pagination a span
{
	color: #999;
	background: #FFF;
	padding: 0;
	border: none;
}
/* --- list bullet --- */
.list li
{
	list-style: none;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: 'Raleway';
	font-size: 14px;
	line-height: 24px;
	padding-left: 30px;
	border: none;
}
.list li a
{
	color: #F4BC16;
	font-weight: 600;
}
li.template-bullet:before
{
	color: #F4BC16;
	padding-right: 15px;
	margin-left: -30px;
	vertical-align: text-top;
}
/* --- tabs navigation --- */
.ui-tabs-nav
{
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	background: none;
	border: none;
	text-align: center;
}
.tabs.align-left .ui-tabs-nav
{
	text-align: left;
}
.tabs.align-left .ui-tabs-panel
{
	text-align: left;
}
.ui-tabs-nav li
{
	position: relative;
	display: inline-block;
	padding: 0;
	border: none;
	list-style: none;
	text-align: center;
	margin-left: 30px;
}
.ui-tabs-nav li:first-child
{
	margin-left: 0;
}
.small.gray .ui-tabs-nav li a
{
	background: #F5F5F5;
}
.small .ui-tabs-nav li
{
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0
}
.small .ui-tabs-nav li a,
.small .ui-tabs-nav li a.none
{
	min-width: 0;
	padding: 15px 20px;
}
.ui-tabs-nav a:before
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 48px;
	color: #F4BC16;
	/* padding: 20px 20px 12px; */
}
.ui-tabs-nav li a
{
	display: block;
	min-width: 180px;
	text-align: center;
	font-size: 14px;
	color: #444;
	background: #FFF;
	/* padding: 10px 0 23px; */
	padding: 10px 11px 12px;
	border: none;
	font-family: 'Raleway';
	line-height: 24px;
	outline: none;
	text-decoration: none;
}
.ui-tabs-nav li a.none
{
	padding: 23px 0;
}
.ui-tabs-nav li:last-child a
{
	border-right: none;
}
.ui-tabs-nav li a:hover,
.ui-tabs-nav li a.selected,
.ui-tabs-nav li.ui-tabs-active a,
.small.gray .ui-tabs-nav li a:hover,
.small.gray .ui-tabs-nav li a.selected,
.small.gray .ui-tabs-nav li.ui-tabs-active a
{
	background: #F4BC16;
	color: #FFF;
}
.ui-tabs-nav li a:hover:before,
.ui-tabs-nav li a.selected:before,
.ui-tabs-nav li.ui-tabs-active a:before
{
	color: #FFF;
}
.ui-tabs-nav li.ui-tabs-active:after
{
	content: "";
	display: inline;
	position: absolute;
	border-style: solid;
	border-width: 9px 9px 0;
	border-color: #F4BC16 transparent;
	bottom: -9px;
	margin-left: -9px;
}
.small .ui-tabs-nav li.ui-tabs-active:after
{
	display: none;
}
.tabs .ui-tabs-panel
{
	text-align: center;
	padding: 42px 0 0;
}
.small .ui-tabs-panel
{
	padding: 0;
}
.tabs .ui-tabs-panel p
{
	font-family: 'Raleway';
	font-size: 14px;
	line-height: 24px;
	padding: 34px 0 0;
	margin-top: 0;
}
.small .ui-tabs-panel p
{
	padding: 24px 0 0;
	margin: 0;
}
.tabs .ui-tabs-panel h4.box-header:after
{
	margin-left: auto;
	margin-right: auto;
}
/* --- accordion --- */
.accordion .ui-accordion-content
{
	padding: 30px 0 20px;
}
.accordion .ui-accordion-header
{
	padding: 16px 15px;
	cursor: pointer;
	border-bottom: 1px solid #E2E6E7;
	font-family: 'Raleway';
	line-height: 24px;
	transition: padding-left 300ms, padding-right 300ms;
	-webkit-transition: padding-left 300ms, padding-right 300ms;
	-moz-transition: padding-left 300ms, padding-right 300ms;
	transition-timing-function: ease;
	-webkittransition-timing-function: ease;
	-mozkittransition-timing-function: ease;
}
.accordion .ui-accordion-header h3
{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: normal;
	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: 39px;
}
.accordion .ui-accordion-header.ui-state-active
{
	background-color: #F4BC16;
	border-bottom-color: #F4BC16;
}
.accordion .ui-accordion-header.ui-state-active h3
{
	color: #FFF;	
}
.accordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon
{
	color: #FFF;
}
.accordion  .ui-accordion-header .ui-accordion-header-icon
{
	float: left;
	margin-right: 15px;
	font-size: 24px;
	color: #F4BC16;
	text-indent: 0;
}
.accordion  .ui-accordion-header:hover
{
	padding-left: 25px;
	padding-right: 5px;
}
.accordion  .ui-accordion-header.ui-state-active:hover
{
	padding: 16px 15px;
}
.accordion p:first-child
{
	margin: 0;
}
.accordion .list li
{
	border: none;
}
/* --- preloader --- */
.re-preloader
{
	display: block;
	height: auto;
	min-height: 20px;
	background: url('images/preloader.gif') no-repeat center center;
}
.blog .post-content>a>img,
.blog.three-columns li>a>img,
.post.single .post-image img,
.services-list a>img,
.team-box img,
.projects-list a>img,
.our-clients-list,
.re-preload>img,
.wpb_single_image img
{
	display: none;
}
.blog.horizontal-carousel.three-columns li>a>img,
.our-clients-list.type-list
{
	display: block;
}
.projects-list.isotope li>a,
.projects-list.isotope a>img
{
	display: block;
	width: 270px;
	height: 180px;
}
.re-preload .re-preloader
{
	height: 200px;
}
/* --- contact details --- */
.header-top-bar .contact-details
{
	float: left;
}
.contact-details li
{
	float: left;
	border-right: 1px solid #E2E6E7;
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 13px;
	color: #999999;
	line-height: 20px;
	padding: 15px 20px;
}
.contact-details li a
{
	color: #999;
}
.contact-details li:first-child
{
	border-left: 1px solid #E2E6E7;
}
.contact-details li:before
{
	font-size: 14px;
	margin-right: 10px;
}
/* --- social icons --- */
.social-icons
{
	list-style: none;
	padding: 0;
}
.social-icons li
{
	float: left;
	width: auto;
	padding: 0;
	border-right: 1px solid #E2E6E7;
}
.social-icons li:first-child
{
	border-left: 1px solid #E2E6E7;
}
.social-icons a
{
	display: block;
	color: #AAA;
}
.social-icons a:hover
{
	color: #444;
}
.social-icons a:before
{
	font-size: 14px;
}
.header-top-bar .social-icons
{
	float: right;
}
.social-icons li a
{
	padding: 17px;
}
.social-icons.yellow li
{
	background: #F4BC16;
	border: 2px solid #F4BC16;
	margin-left: 1px;	
}
.social-icons.yellow li:hover
{
	background: transparent;
}
.social-icons.yellow li a
{
	padding: 18px 16px;
	height: -3px;
}
.social-icons.yellow li a:before
{
	color: #FFF;
}
.social-icons.yellow li a:hover:before
{
	color: #000;
}
.social-icons.yellow li:first-child
{
	margin-left: 0;
}
/* --- search --- */
.header-top-bar .search-container
{
	float: right;
	position: relative;
}
.header-top-bar .template-search
{
	display: block;
	font-size: 14px;
	padding: 17px;
	border-right: 1px solid #E2E6E7;
	color: #AAA;
}
.template-search:hover
{
	color: #444;
}
.search-form
{
	position: absolute;
	display: none;
	width: 179px;
	right: 0;
	padding: 12px 10px;
	margin-top: 5px;
	background: #F5F5F5;
	z-index: 99;
}
.search-form .search-input
{
	float: left;
	width: 91px;
	color: #444;
	font-size: 14px;
	background: #FFF;
	border: 1px solid #E2E6E7;
	margin: 0;
	padding: 12px 14px 12px 12px;
}
.search-form .search-input.hint
{
	color: #858d94;
}
.search-form .search-input::-webkit-input-placeholder 
{
	color: #858d94;
}
.search-form .search-input:-moz-placeholder 
{
	color: #858d94;
    opacity:  1;
}
.search-form .search-input::-moz-placeholder
{
	color: #858d94;
    opacity:  1;
}
.search-form .search-input:-ms-input-placeholder 
{
	color: #858d94;
}
.search-form .search-submit-container
{
	position: relative;
	float: right;
}
.header-top-bar .search-form .template-search
{
	padding: 18px 18px 17px 18px;
	border: none;
}
.search-form .search-submit-container:hover .template-search
{
	color: #444;
}
.search-form .search-submit
{
	position: absolute;
	width: 50px;
	height: 50px;
	background: none;
	padding: 0;
	top: 0;
	left: 0;
	cursor: pointer;
}
/* --- ui slider --- */
.ui-slider
{
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle 
{
	position: absolute;
	z-index: 2;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range 
{
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range 
{
	filter: inherit;
}
.ui-slider-horizontal .ui-slider-handle 
{
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range 
{
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min 
{
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max 
{
	right: 0;
}
/* --- ui dropdown --- */
/* right-aligned */
.ui-menu .ui-menu-icon {
	left: auto;
	right: 0;
}
.ui-selectmenu-menu {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	/* Support: IE7 */
	overflow-x: hidden;
	padding-bottom: 1px;
}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	padding: 2px 0.4em;
	margin: 0.5em 0 0 0;
	height: auto;
	border: 0;
}
.ui-selectmenu-open {
	display: block;
}
.ui-selectmenu-button {
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}
.ui-selectmenu-button span.ui-icon 
{
	right: 0;
	position: absolute;
	text-indent: 0;
}
.ui-selectmenu-button span.ui-selectmenu-text 
{
	text-align: left;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* --- cost calculator --- */
.cost-calculator-box
{
	padding: 30px;
	background: #F5F5F5;
	margin-top: 1px;
}
.vc_row .vc_col-sm-8 .cost-calculator-box .vc_col-sm-6
{
	width: 340px;
}
.cost-calculator-box:before
{
	float: left;
	font-size: 48px;
	margin-right: 30px;
	color: #F4BC16;
	border: 1px solid #E2E6E7;
	padding: 19px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.cost-calculator-box:first-child
{
	margin-top: 0;
}
.cost-calculator-box label
{
	float: left;
	font-family: 'Raleway';
	font-size: 14px;
	line-height: 24px;
	border-left: 4px solid #F4BC16;
	padding: 14px 0 12px 15px;
}
.cost-calculator-box .cost-slider-container
{
	float: right;
	margin-left: 30px;
}
.cost-calculator-box input
{
	float: right;
	width: 40px;
	margin-left: 30px;
	margin-top: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.cost-calculator-box input.big
{
	width: 370px;
}
.cost-calculator-box .checkbox-label
{
	float: right;
	border: 1px solid #E2E6E7;
	background: #FFF;
	padding: 1px 7px 4px;
	margin-top: 9px;
	cursor: pointer;
}
.cost-calculator-box .checkbox-label:before
{
	color: #FFF;
}
.cost-calculator-box input[type="checkbox"]
{
	display: none;
}
.cost-calculator-box input[type="checkbox"]:checked+.checkbox-label:before
{
	color: #F4BC16;
}
.cost-calculator-box.cost-calculator-contact input
{
	width: 100%;
	margin-top: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cost-calculator-box.cost-calculator-contact .block:first-child input
{
	margin-top: 0;
}
.cost-calculator-box.cost-calculator-contact input[type='submit']
{
	width: auto;
	margin-top: 0;
}
.cost-calculator-sum
{
	text-align: right;
	margin-top: 10px;
}
.contact-form .cost-calculator-box p
{
	margin-top: 14px;
	padding: 0;
}
.cost-calculator-price
{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 40px;
	color: #F4BC16;
}
.ui-slider
{
	float: right;
	width: 300px;
	margin-top: 20px;
	background-color: #E2E6E7;
	border-radius: 5px;
}
.ui-slider-horizontal
{
	height: 10px;
}
.ui-slider .ui-slider-handle
{
	cursor: pointer;
	width: 28px;
	height: 28px;
	top: -10px;
	border: 1px solid #E2E6E7;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #FFF;
}
.ui-slider-handle:after
{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	margin-left: 9px;
	margin-top: 9px;
	background: #F4BC16;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.ui-slider-handle .cost-slider-tooltip
{
	position: absolute;
	min-width: 50px;
	left: -11px;
	top: 35px;
}
.ui-slider-handle .cost-slider-tooltip .value
{
	width: 100%;
	font-family: 'Raleway';
	color: #FFF;
	background: #F4BC16;
	padding: 12px 0;
	text-align: center;
}
.ui-slider-handle .cost-slider-tooltip .arrow
{
	width: 100%;
	height: 8px;
	text-align: center;
}
.ui-slider-handle .cost-slider-tooltip .arrow::before
{
	content: "";
	border-color: #F4BC16 transparent;
    border-style: solid;
    border-width: 0 8px 8px;
	width: 1px;
	margin-left: auto;
	margin-right: auto;
    display: block;
    position: relative;
}
.ui-slider-range-min
{
	background: #F4BC16;
	border-radius: 5px;
}
.ui-selectmenu-button
{
	float: right;
	font-family: 'Raleway';
	border: 1px solid #E2E6E7;
	margin: 0;
	background: #FFF;
}
.ui-selectmenu-button span.ui-selectmenu-text
{
	padding: 12px 40px 12px 15px;
	line-height: 24px;
	font-size: 14px;
	color: #444;
}
.ui-selectmenu-button .ui-icon
{
	color: #444;
	border-left: 1px solid #E2E6E7;
	padding: 16px 12px 17px;
}
.ui-selectmenu-button.ui-corner-top .ui-icon,
.ui-selectmenu-button:hover .ui-icon
{
	color: #F4BC16;
}
.ui-selectmenu-menu
{
	z-index: 2;
}
.ui-selectmenu-menu .ui-menu
{
	border: 1px solid #E2E6E7;
	border-top: none;
	max-height: 204px;
}
.ui-selectmenu-menu .ui-menu li
{
	font-family: 'Raleway';
	cursor: pointer;
	background: #FFF;
	color: #444;
	border-top: 1px solid #E2E6E7;
	padding: 13px 15px;
}
.ui-selectmenu-menu .ui-menu li:first-child
{
	border-top: 0;
}
.ui-selectmenu-menu .ui-menu li.ui-state-focus
{
	color: #F4BC16;
}
/* --- buttons --- */
.more,
.more[type="submit"]
{	
	color: #FFF; 
	font-family: 'Raleway';
	font-size: 12px;
	font-weight: 700;
	background: #F4BC16;
	padding: 16px 23px 15px;
	text-align: center;
	cursor: pointer;
	line-height: normal;
	letter-spacing: 1px;
	border-radius: 999px;
	-moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	border: 2px solid #F4BC16;
}
.more:hover,
.more[type="submit"]:hover
{
	color: #000;	
	background: transparent;
	opacity: 1;
}
.more.simple
{
	background: transparent;
	color: #FFF;
	border: 1px solid #E2E6E7;
	padding: 17px 24px 16px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}
.more.simple:hover
{
	border-color: #F4BC16;
	background: #F4BC16;
}
.more.small
{
	padding: 12px 19px 11px;
}
/* --- copyright row --- */
.copyright
{	
	color: #999;
	font-family: 'Raleway';
	line-height: 24px;
}
.copyright a
{
	color: #444;
}
/* --- prettyPhoto --- */
/*div.pp_default .pp_nav
{
	margin-top: 9px;
}
div.pp_default .pp_close
{
	margin-top: 7px;
}*/
div.pp_default .pp_content_container .pp_left,
div.pp_default .pp_content_container .pp_right,
div.pp_default .pp_top .pp_left,
div.pp_default .pp_top .pp_middle,
div.pp_default .pp_top .pp_right,
div.pp_default .pp_bottom .pp_left,
div.pp_default .pp_bottom .pp_middle,
div.pp_default .pp_bottom .pp_right
{
	background: none;
	padding: 0;
}
div.pp_default .pp_content, div.light_rounded .pp_content
{
	padding: 10px;
}
div.pp_default .pp_description
{
	display: block !important;
	font-size: 12px;
	color: #7C7C7C;
	padding: 1em 0;
}
div.pp_default .pp_close
{
	margin-top: 8px;
	background: url("images/close.png") 0 0 no-repeat;
}
div.pp_default .pp_close:hover
{
	opacity: 1;
	background-position: 0 -30px;
}
/* --- map --- */
#map
{
	width: 100%;
	height: 450px;
}
/* --- slider revolution container --- */
.revolution-slider-container
{
	width: 100%;
	position: relative;
	padding: 0;
}
.revolution-slider
{
	width: 100%;
	height: 600px;
	position: relative;
	background: #F5F5F5;
}
/* --- slider revolution label --- */
.slider-content-box
{
	width: 460px;
	max-height: auto;
	white-space: normal;
	background: rgba(38, 38, 40, 0.7);
	padding-bottom: 47px;
}
.slider-content-box h2
{
	color: #FFF;
	border-bottom: 1px solid #F4BC16;
	padding: 21px 30px 20px;
	background: rgba(38, 38, 40, 0.68);
}
.slider-content-box h2 a
{
	color: #FFF;
}
.slider-content-box h2 a:hover
{
	text-decoration: underline;
	opacity: 1;
}
.slider-content-box p
{
	font-family: 'Raleway';
	font-size: 16px;
	font-weight: 400;
	color: #FFF;
	line-height: 26px;
	padding: 23px 30px 40px;
	margin-top: 0;
}
.slider-content-box .more
{
	margin-left: 30px;
}
.tp-caption a:hover
{
	color: #FFF !important;
}
/* --- slider revolution navigation arrows --- */
.rev_slider .tparrows
{
	width: 40px;
	height: 100px;
	background: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	display:  none;
}
.rev_slider .tparrows::before,
.rev_slider .tparrows.tp-leftarrow::before,
.rev_slider .tparrows.tp-rightarrow::before
{
	content: none;
	display: none;
}
.rev_slider .tparrows::after
{
	font-family: "template" !important;
	font-size: 24px;
	position: absolute;
	left: 0px;
	top: 0px;
	color: #FFF;
	width: 40px;
	height: 100px;
	text-align: center;
	background: rgba(0, 0, 0, 0.15);
	z-index: 2;
	line-height: 100px;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}
.rev_slider .tp-rightarrow::after
{	
	content: 'a';  
	right: 0;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: fliph;
	filter: fliph;
}
.rev_slider .tp-leftarrow::after
{
	content: 'a';
}
.rev_slider .tparrows:hover::after 
{
	background: #FFF;
	color: #666;
}
.rev_slider .tparrows .tp-arr-allwrapper
{
	display: none;
}
/* --- slider revolution navigation bullets --- */
.rev_slider .tp-bullets
{
	height: 12px !important;
}
.rev_slider .tp-bullets .tp-bullet 
{
	background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    border: 8px solid rgba(0, 0, 0, 0);
	transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	width: 11px !important;
	height: 11px !important;
	border: none !important;
	margin-right: 10px !important;
	margin-bottom: 0px !important;
	
}
.rev_slider .tp-bullets .tp-bullet:hover,
.rev_slider .tp-bullets .tp-bullet.selected 
{
	background: #FFF !important;
	width: 11px !important;
	height: 11px !important;
	border: none !important;
}
/* --- misc --- */
.scroll-top.animated-element
{
	position: fixed;
	visibility: hidden;
	display: block;
	width: 50px;
	padding: 13px 0;
	background: rgba(38,38,40,0.4);
	right: 30px;
	bottom: 30px;
	text-align: center;
	z-index: 2;
}
.scroll-top:before
{
	font-size: 24px;
	color: #FFF;
}
.scroll-top:hover
{
	background: #F4BC16;
}
.header h1 a,
.sf-menu a:hover,
.social-icons a:hover,
.header-top-bar .template-search:hover,
.header-top-bar-container .header-toggle:hover,
.slider-control:hover,
.more:hover,
a.re-action-button:hover,
.vertical-menu li a:hover,
.buttons li a:hover,
.ui-tabs-nav li a:hover,
.ui-tabs-nav li a:focus,
.ui-tabs-nav li a:active,
.widget_categories a:hover,
.widget_archive a:hover,
.widget_tag_cloud a:hover,
.taxonomies a:hover,
.pagination li a:hover,
.scroll-top:hover
{
	text-decoration: none;
}
input, textarea
{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}
input[type='checkbox']
{
	-webkit-appearance: checkbox;
}
input[type='radio']
{
	-webkit-appearance: radio;
}
:focus 
{
	outline:none;
}
::-moz-focus-inner 
{
	border:0;
}
body.lock-position 
{
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
ol ol,
ul ul
{
	padding-left: 10px;
	list-style: inside;
}
ol
{
	list-style: inside decimal;
}
ol ol
{
	list-style-type: lower-alpha;
}
cite
{
	font-style: italic;
}
code
{	
	color: #7B7B7B;
	overflow-y: auto;
	margin: 5px 0px 5px 0px;
	font: 13px "Courier New";
	border: solid 1px #E1E5E9;
	line-height: 19px;
	text-shadow: 0px 1px 0px #FFFFFF;
}
kbd
{
	font: 13px "Courier New";
}
q:before,
q:after
{
	content: "\"";
}
.pagination,
.blog .post-details,
.blog .post-content-details,
.mobile-menu ul,
.comments-list-container .children
{
	list-style: none;
	padding: 0;
}
/* --- visual composer --- */
/*.wpb_row *,
.wpb_row *:before,
.wpb_row *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/
.wpb_row:before,
.wpb_row:after 
{
  content: " ";
  display: table;
}
.wpb_row:after 
{
  clear: both;
}
.vc_row .vc_column_container > .vc_column-inner
{
	padding: 0;
}
body .vc_row
{
	margin-left: 0;
	margin-right: 0;
}
.site-container .wpb_row
{	
	margin-top: 0;
	margin-bottom: 0;
}
.wpb_widgetised_column .widget:first-child
{
	margin-top: 0;
}
.wpb_widgetised_column,
.wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button
{
	margin-bottom: 0 !important;
}
.wpb_widgetised_column .wpb_wrapper > ul
{
	padding: 0;
}
.wpb_text_column.margin-top-0 p
{
	margin-top: 0;
}
.vc_row-fluid .wpb_column.page_left
{
	float: left;
    width: 630px;
}
.vc_row-fluid .wpb_column.page_right
{
	float: right;
    width: 330px;
	margin: 0;
}
.wpb_separator.wpb_content_element,
.vc_text_separator.wpb_content_element
{
	border-color: #E0E0E0;
	margin-bottom: 0;
	height: auto;
}
.vc_text_separator.wpb_content_element
{
	position: static;
	top: 0;
}
.wpb_single_image a
{
	display: block;
}
.wpb_single_image figure.vc_figure
{
	display: block;
}
.vc_row-fluid [class*="vc_col-sm"]
{
	float: left;
	margin-left: 30px;
	min-height: auto;
	padding-left: 0;
	padding-right: 0;
}
.vc_row-fluid [class*="vc_col-sm"]:first-child ,
.vc_row-fluid .vc_container-anchor+[class*="vc_col-sm"]
{
	margin-left: 0;
}
.vc_row .vc_col-sm-12 
{
	width: 100%;
}
.vc_row .vc_col-sm-10 
{
	width: 820px;
}
.vc_row .vc_col-sm-9 
{
	width: 870px;
}
.vc_row .vc_col-sm-8 
{
	width: 770px;
}
.vc_row .vc_col-sm-6 
{
	/* width: 570px; */
	margin-left:  0;
}
.vc_row .vc_col-sm-4 
{
	width: 370px;
}
.vc_row .vc_col-sm-3 
{
	width: 270px;
}
.vc_row .vc_col-sm-2 
{
	width: 170px;
}
/*.wpb_content_element .accordion.ui-accordion .ui-accordion-header
{
	background-color: transparent;
}*/
/* --- vc layouts --- */
.vc_col-sm-8 .vc_col-sm-6
{
	width: 330px;
}
.vc_col-sm-8 .vc_col-sm-4
{
	width: 210px;
}
/* --- progress bars --- */
body .vc_progress_bar .vc_single_bar
{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	background: #E2E6E7;
}
body .vc_progress_bar.wpb_content_element .vc_general.vc_single_bar .vc_label
{
	font-family: "Raleway";
	font-size: 14px;
	color: #444;
	text-shadow: none;
	height: 10px;
	bottom: -29px;
	padding: 0;
}
body .vc_progress_bar .vc_single_bar,
body .vc_progress_bar .vc_single_bar:last-child
{
	margin-bottom: 64px;
}
body .vc_progress_bar .vc_single_bar .vc_bar
{
	background: #F4BC16;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-transition: width 1s ease 0s;
	-webkit-transition: width 1s ease 0s;
	transition: width 1s ease 0s;
}
.vc_progress_bar .vc_general.vc_single_bar.vc_progress-bar-color-bar_grey .vc_bar, .vc_progress_bar.vc_progress-bar-color-bar_grey .vc_single_bar .vc_bar
{
	background-color: #D0D0D0;
}
.vc_label_units
{	
	float: right;
	color: #999;
}
/* --- WordPress Core --- */
.alignnone 
{
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter 
{
    display: block;
    margin: 5px auto 5px auto;
}
.alignright 
{
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft 
{
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter 
{
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright 
{
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone 
{
    margin: 5px 20px 20px 0;
}
a img.alignleft 
{
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter 
{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption 
{
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone
{
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft 
{
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright 
{
    margin: 5px 0 20px 20px;
}
.wp-caption img 
{
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text 
{
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.sticky
{
}
.gallery-caption
{
}
.rs-update-notice-wrap
{
	display: none !important;
}

.logo.vertical-align-cell img {
    /* max-width: 173px; */
    width:  100%;
    padding-top: 13px;
}
#block26 {
    width:  100%;
    margin-top:  100px;
}

#block26 .wpb_column.vc_column_container.vc_col-sm-4 {
    width: 30%;
}

#block26 .wpb_column.vc_column_container.vc_col-sm-4:nth-child(2) {
    margin: 0 4%;
}
#block32 .vc_row.wpb_row.vc_inner.vc_row-fluid {
    width:  100%;
}
.num-header {}

.num-header * {
    font-size: 26px !important;
}

.num-header li.template-phone {
    font-weight:  800;
}

.num-header .contact-details li:before {
    font-size: 31px;
    color:  white;
}

.num-header ul.contact-details.clearfix:before {
    /* -ms-transform: rotate(20deg);  */
    /* -webkit-transform: rotate(20deg);   */
    /* transform: rotate(20deg); */
    /* width: 2px; */
    /* background: #000000; */
    /* height: 100%; */
    /* position:  absolute; */
    /* margin-left: -74px; */
    /* top:  0; */
}

.num-header li.template-phone {
    border:  0;
    color:  white;
}

.logo.vertical-align-cell:before {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    width: 2px;
    background: #000000;
    height: 100%;
    position: absolute;
    margin-left: -74px;
    top: 0;
}

.logo.vertical-align-cell:after {
    /* content:  ''; */
    /* -ms-transform: rotate(20deg); */
    /* -webkit-transform: rotate(20deg); */
    /* transform: rotate(20deg); */
    /* width: 2px; */
    /* background: #000000; */
    /* height: 100%; */
    /* position: absolute; */
    /* margin-left: 42px; */
    /* top: 0; */
}
#contact-div-form .c4 {
    float:  left;
    width: 22%;
    display: block;
}

#contact-div-form {
    width:  100%;
    padding: 17px;
    background: #ed1c24;
    display: grid;
    color: #ffffff;
    z-index:  9;
    position:  absolute;
    margin-top: -32px;
}


#contact-div-form .c4 textarea.wpcf7-form-control.wpcf7-textarea {
    height: 52px;
    display: block;
    width: 90%;
    position: relative;
}

#contact-div-form .c4 select {
    width:  100%;
    height: 49px;
    display:  block;
    position:  relative;
    display: block;
    width: 90%;
    position: relative;
}
.sf-menu li ul li a {}

.sf-menu li ul li a {
    padding:  0;
    display:  block;
    float:  left;
    min-width: 100%;
}

#contact-div-form .c4 span.wpcf7-form-control-wrap.service {
    display:  block;
    width:  100%;
}

#contact-div-form .c4 label {
    display:  block;
    width:  100%;
    font-size: 13px;
    padding:  7px;
    color: #e10014;
    /* height:  72px; */
}

#contact-div-form .c4 span {
    display:  block;
    width: 99%;
    position:  relative;
    margin-top: 13px;
}

#contact-div-form .c4 input {
    display: block;
    width: 90%;
    position: relative;
}

#contact-div-form .devis-sub input {color: #e10014;margin-top: 0;float: right;background:  white;font-size: 18px;padding: 8px;width:  112px;border-radius:  0;}

.content-sends select {
    width:  100%;
    display:  block;
    padding: 10px;
    /* margin-top: 13px; */
}

.content-sends span.wpcf7-form-control-wrap.service {
    width:  100%;
    display:  block;
}
.content-send  span {
    display:  block;
    position:  relative;
}


.content-send span input {
    display: block;
    max-width:  100%;
    padding:  7px;
}
.left-sec.col-sm-3 {
    font-size:  25px;
    background: white;
    height:  100%;
    display:  block;
    padding: 20px 0;
    float:  left;
}

.left-sec.col-sm-3 .template-phone.col-sm-3 {
    font-size:  48px;
}

.left-sec.col-sm-3 .col-sm-9 span {
    font-size:  26px;
    margin-bottom: 13px;
    display:  block;
}
.left-sec {
    font-size: 18px;
    padding:  20px 0;
    color: #ffffff;
    font-weight: 600;
}

.left-sec span {
    margin-bottom: -9px;
    display:  block;
    /* font-size:  22px; */
     font-size: 1em;
}

.left-sec .col-sm-9 {
    margin-top:  -19px;
}

.template-phone.col-sm-3 {
    font-size: 39px;
    margin-top: -16px;
}
.header-container:before {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(-62deg);
    width: 380px;
    background: #ed1c24;
    height: 349px;
    position: absolute;
    /* margin-left: -74px; */
    top: -56px;
    /* content:  ''; */
    right: 0;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(-62deg);
    width: 380px;
    background: #ed1c24;
    height: 349px;
    position: absolute;
    /* margin-left: -74px; */
    top: -56px;
    /* content: ''; */
    right: 0;
}
.header-top-bar {
    position:  absolute;
    z-index: 0;
    right:  0;
    overflow: h;
}

.header-top-bar:before {
    -ms-transform: rotate(20deg);
    /* -webkit-transform: rotate(20deg); */
    width: 115%;
    background: #ffffff;
    height: 106px;
    position: absolute;
    /* margin-left: -74px; */
    top: -18px;
    content: '';
    right: 0px;
    /* border-radius: 117px 0px 0px 2px; */
    z-index: -2;
    /* margin-right:  -44px; */
    /* width: 0; */
    /* height: 0; */
    border-style: solid;
    border-width: 0 0px 108px 95px;
    border-color: transparent transparent #ed1c24 transparent;
}
.right-form-devi {
    background: #ed1c24;
}

.right-form-devi .left-sec.col-sm-2 {
    display:  none;
}

.right-form-devi .col-sm-3 {
    width:  100%!important;
    margin: 20px 0;
}

.right-form-devi .content-send.col-sm-9 {
    width:  100%;
}

.right-form-devi input.wpcf7-form-control.more.wpcf7-submit {<:width:;}

.right-form-devi input.wpcf7-form-control.more.wpcf7-submit {
    width:  200px;
    margin-bottom:  26px;
    margin-left:  22%;
    background:  white;
    color: black;
}
h2.res-title {
    font-size: 33px;
    color:  white;
    font-weight: 700;
    padding: 20px 20px 0;
    text-transform: uppercase;
    text-align:  center;
}
.header .menu-container  {
    padding-right: 339px;
    text-align:  center;
    /* float: left; */
}
div#head-s {
    height: calc(100vh - 124px);
    overflow:  hidden;
}
.content-send.col-sm-9 {
    padding-top:  10px;
}

.devis-sub.col-md-1 .vertical-align-cell p {
    margin-top:  9px;
}

.devis-sub .vertical-align-cell p {
    padding-top: 9px;
}


#service-22 h2.box-header {
    font-size:  3em;
    margin-top:  40px;
}
div#block-22+.vc_row.wpb_row.vc_row-fluid.align-center.padding-top-67.padding-bottom-87.vc_custom_1432038583705.vc_row-has-fill.full-width a.more {
    font-size: 19px;
}
#block26 .wpb_column.vc_column_container.vc_col-sm-3 {
    width: 23%;
    margin-left:  1%;
    margin-right: 1%;
}

.soc-ico {
    position:  fixed;
    z-index:  99;
    top: 50%;
}
.header .logo.vertical-align-cell a {
    height: 84px;
    display:  block;
}
.vc_col-sm-4.wpb_column.vc_column_container.widget.re_contact_info_widget {
    /* min-height: 200px; */
    margin: 42px 0;
}

.num-tel-footer p {
    font-size: 2em;
    font-weight:  700;
    line-height: 40px;
    text-align:  center;
}

.btn-testimonials{    margin:  0 auto;    display:  block;    width: 223px;}
.services-list li h4+p {
    display:  none;
}
.top-slider-t,.top-slider-o {
    /* margin-top: -110px!important; */
    /* position:  absolute; */
    /* top: -150px; */
    font-size:  .81em!important;
    text-align:  center;
    display: flex;
    width:  100%;
    text-align:  center;
    margin:  0 auto;
    display:  block;
}
.top-slider-o{
    
    left:90px
}
.top-slider-t{
   margin-top: -0px!important;
   position:  absolute;
   top: 0;
   font-size:  .81em!important;
   text-align:  center;
   display: flex;
   width:  100%;
}


.sf-menu li ul {
    display: block!important;
}
.site-container .vc_row.row-100 {
    /* width: 1800px; */
}

.wpb_column.vc_column_container.vc_col-sm-6 .wpb_column.vc_column_container.vc_col-sm-6 {
    margin-left:  11px;
}

.wpb_column.vc_column_container.vc_col-sm-6 .vc_row.wpb_row.vc_inner.margin-top-30 {
    margin-top:  41px;
    margin-bottom: 41px;
}
.content-sends select {
    color: black;
}
div#block-22 {
    margin-top: 40px;
}
.left-sec.col-sm-2:before {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(-29deg);
    width: 4px;
    background: #f5f5f5;
    content:  '';
    display:  block;
    height: 165px;
    position:  absolute;
    right:  0;
    top: -51px;
}
.vc_row.wpb_row.vc_row-fluid.gray.full-width.page-header.vertical-align-table {
    padding-top:  116px;
}
.right-form-devi.col-md-3 {
    padding: 0 20px;
    background:  white;
}

.right-form-devi.col-md-3 div#wpcf7-f1117-o1 {
    background: #ed1c24;
}

.right-form-devi.col-md-3 textarea#msg-res {
    width:  100%;
}
@media (max-width : 1024px) {
	#contact-div-form .devis-sub input {
    float:  left;
}

#service-22 ul.services-list .vc_row.wpb_row.vc_row-fluid li {
    width:  100%;
}
#block26 .wpb_column.vc_column_container.vc_col-sm-3 {
      width:  100%;
    margin-bottom:  71px;
}
#block26 .wpb_column.vc_column_container.vc_col-sm-4 {
    width:  100%;
    margin-bottom:  71px;
}

#block32 .vc_row.wpb_row.vc_inner.vc_row-fluid .testimonials-list li {
    width: auto;
    max-width: 341px;
}
 
.header-top-bar:before {
    display: none;
}
	.template-phone:before {
		content: "l";
		display: block;
		position: relative;
		width: 100%;
		height: 59px;
	}
}
@media (max-width : 1024px) {
	.left-sec.col-sm-2 {
    width: 100%;
}

.left-sec.col-sm-2 {
    width:  100%;
}

div#contact-div-form {
    position:  relative;
}

li#menu-item-982 {
    float:  left;
    display:  block;
    list-style:  navajowhite;
}

nav.menu-main-menu-container {
    width:  100%;
}

.menu-container.clearfix.vertical-align-cell {
    padding:  0;
}
}
@media (max-width : 700px) {
	#service-22 ul.services-list .vc_row.wpb_row.vc_row-fluid li {
    width: 100%;
}
}

@media (max-width : 700px) {
	#service-22 ul.services-list .vc_row.wpb_row.vc_row-fluid li {
		width: 100%!important;
		margin-bottom:  30px !important;
	}
	#service-22 ul.services-list .vc_row.wpb_row.vc_row-fluid li:nth-child(2) {
		margin: 0 5% !important;
		margin: 0 !important;
		margin-bottom: 30px !important;
	}
}
@media (max-width : 700px) {
	.left-sec.col-sm-2:before {   
	display:none;
}
}
@media (min-width : 2000px) {
	#block32 .vc_row.wpb_row.vc_inner.vc_row-fluid .testimonials-list li {
		width: 33%;
	}
	.caroufredsel_wrapper.caroufredsel_wrapper_testimonials ul.testimonials-list.autoplay-0.pause_on_hover-1.scroll-1.effect-scroll.easing-easeInOutQuint.duration-750 {
    width:  100%!important;
}
.header .menu-container {
    padding-right: 339px;
    text-align: center;
    float: right;
}
}
a.num-form-red {
    color:  white;
}
.col-md-9 .vc_row-fluid,.col-md-3 .vc_row-fluid,.col-md-4 .vc_row-fluid,.col-md-2 .vc_row-fluid,.col-md-1 .vc_row-fluid,.col-md-5 .vc_row-fluid,
.col-md-8 .vc_row-fluid, .col-md-7 .vc_row-fluid{
    width: 100%;
}
.services-list li, .team-box {
 
    width: 33%; 
}
@media (min-width : 2000px) {
	.vc_row.wpb_row.vc_row-fluid.align-center.padding-top-67.padding-bottom-87.full-width+.vc_row.wpb_row.vc_row-fluid {
    width:  100%;
    text-align:  center;
}
.vc_row .vc_col-sm-3, .vc_row .vc_col-sm-6 .vc_col-sm-6 {
    width: 516px;
}
}
@media (max-width : 1441px) {
	.header .menu-container {
    padding-right: 339px;
    text-align: center;
    /* float: left; */
    /* display: inline; */
    display: block;
}
.left-sec.col-sm-2:before {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(-29deg);
    width: 4px;
    background: #f5f5f5;
    content: '';
    display: block;
    height: 191px;
    position: absolute;
    right: -8px;
    top: -56px;
}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.header .menu-container {
    padding-right: 339px;
    text-align: center;
    /* float: left; */
    /* display: inline; */
    display: contents;
}
}
@media (max-width : 900px) {
	
}
@media (max-width : 600px) {
	div#head-s {
    height: calc(100vh - 224px);
    overflow: hidden;
	}

	.left-sec.col-sm-2 .template-phone.col-sm-3 {
		font-size: 38px;
		margin-top: -16px;
		width: 68px;
		float: left;
	}

	.left-sec.col-sm-2:before{
		display:none;
	}

	.content-send span input {
		margin-bottom: 8px;
	}

	.content-send.col-sm-9 { 
		padding-left: 0;
	}

	#contact-div-form .devis-sub input {
		float: left;
		margin-left: 15px;
	}

	#block32 .testimonials-container .caroufredsel_wrapper_testimonials {
		width: 100% !important;
		left: 20px !important;
	}

	.left-sec.col-sm-2 .template-phone.col-sm-3+.col-sm-9 span {
		margin-left: 47px;
	}

}
#cc-block2 input {
    width: 100%;
    margin-bottom:  12px;
}

#cc-block2 textarea.wpcf7-form-control.wpcf7-textarea {
    width:  100%;
}

#cc-block2 #re-cap-contact {
    /* width:  100px; */
    /* height: 50px; */
    display: inline-block;
}

#cc-block2 .vc_row.wpb_row.vc_inner.margin-top-30 {
    margin-top: 75px;
}
#cc-block2  textarea#g-recaptcha-response {
    display:  inline;
}

#cc-block2  .wpcf7-form-control-wrap {
    display:  inline;
}