@media screen and (max-width:1189px)
{
	/* --- site container --- */
	.site-container.boxed
	{
		max-width: 850px;
	}
	p.description,
	.description p
	{
		font-size: 14px;
		line-height: 24px;
	}
	.vc_col-sm-6.padding-left-right-100
	{
		padding: 0 50px !important;
	}
	.vc_col-sm-4.padding-left-right-100
	{
		padding: 0 30px !important;
	}
	.padding-bottom-50,
	.vc_column_container.padding-bottom-50
	{
		padding-bottom: 35px !important;
	}
	.padding-bottom-61
	{
		padding-bottom: 46px;
	}
	.padding-bottom-66
	{
		padding-bottom: 51px;
	}
	.padding-bottom-70
	{
		padding-bottom: 55px;
	}
	.padding-bottom-87
	{
		padding-bottom: 72px;
	}
	.padding-top-54
	{
		padding-top: 39px;
	}
	.padding-top-67
	{
		padding-top: 52px;
	}
	.padding-top-70
	{
		padding-top: 55px;
	}
	.margin-top-67
	{
		margin-top: 52px;
	}
	.margin-top-70
	{
		margin-top: 55px;
	}
	/* --- headers --- */
	h4
	{
		font-size: 14px;
		line-height: 24px;
	}
	/* --- containers --- */
	.header-top-bar,
	.header,
	.site-container .vc_row,
	.site-container .vc_row.full-width .vc_col-sm-12.wpb_column .vc_row,
	.vc_row.full-width>.vc_col-sm-12>.wpb_wrapper>.announcement
	{
		width: 100%;
	}
	.header-container
	{
		padding: 26px 0 13px;
	}
	.header .logo
	{
		width: auto;
		max-width: auto;
	}
	.header-container.sticky.move
	{
		padding: 0px 0 7px;
	}
	.boxed .header-container.sticky.move
	{
		max-width: 850px;
	}
	/* --- page header --- */
	.page-header-left
	{
		width: 300px;
	}
	.page-header-right
	{
		width: 450px;
	}
	/* --- menu --- */
	.menu-container
	{
		float: left;
		clear: both;
		width: 100%;
		margin-top: 20px;
	}
	.menu-container nav
	{
		float: left;
	}
	.sf-menu li a, .sf-menu li a:visited
	{
		padding: 12px 0 12px 16px;
	}
	.header-container.sticky.move .menu-container
	{
		margin-top: 5px;
	}
	/* --- vertical menu --- */
	.vertical-menu li a
	{
		padding: 18px 10px 18px 11px;
	}
	/* --- page --- */
	.page-margin-top,
	.error404 .feature-item.feature-item-big h4.page-margin-top,
	.page-template-404 .feature-item.feature-item-big h4.page-margin-top
	{
		margin-top: 35px;
	}
	.page-margin-top-section
	{
		margin-top: 50px;
	}
	.page-padding-top
	{
		padding-top: 35px;
	}
	.page-padding-top-section
	{
		padding-top: 50px;
	}
	/* --- slider revolution --- */
	.tp-revslider-mainul .tp-mask-wrap,
	.tp-revslider-mainul .tp-loop-wrap
	{
		position: relative !important;
	}
	.slider-content-box
	{
		max-width: 380px;
		margin-left: 50px;
		padding-bottom: 42px;
	}
	.slider-content-box h2
	{
		font-size: 21px;
		line-height: 32px;
		padding: 16px 25px 17px;
	}
	.slider-content-box p
	{
		font-size: 14px;
		line-height: 24px;
		padding: 19px 25px 36px;
	}
	.slider-content-box .more
	{
		margin-left: 25px;
	}
	/* --- page layout --- */
	.vc_row .vc_col-sm-6
	{
		width: 360px;
	}
	.vc_row .vc_col-sm-4,
	.vc_row .vc_col-sm-8 .vc_col-sm-6
	{
		width: 230px;
	}
	.vc_row .vc_col-sm-8 .cost-calculator-box .vc_col-sm-6
	{
		width: 200px;
	}
	.vc_row .vc_col-sm-8
	{
		width: 490px;
	}
	.vc_row .vc_col-sm-4 .column-1-2
	{
		width: 100%;
		margin-left: 0;
	}
	.column-2-3 .column-1-3
	{
		width: 156px;
	}
	.vc_row .vc_col-sm-3,
	.vc_row .vc_col-sm-6 .vc_col-sm-6
	{
		width: 165px;
	}
	.vc_row .vc_col-sm-9
	{
		width: 555px;
	}
	.vc_row .vc_col-sm-9 .vc_col-sm-9
	{
		width: 412px;
	}
	.vc_row .vc_col-sm-9  .vc_col-sm-6
	{
		width: 262px;
	}
	.row-4-4
	{
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flexbox;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	}
	.row-4-4.vc_row .vc_col-sm-3
	{
		width: 360px;
	}
	.row-4-4.vc_row .vc_col-sm-3:nth-child(odd)
	{
		margin-left: 0;
	}
	.row-4-4.vc_row .vc_col-sm-3:nth-child(n+3)
	{
		margin-top: 35px;
	}
	/* --- blog --- */
	.blog .post-content
	{
		width: 435px;
	}
	.row-4-4.vc_row .vc_col-sm-3 .blog.small .post-content
	{
		width: 250px;
	}
	.blog.three-columns .post-details li
	{
		padding: 10px;
	}
	.blog.three-columns .post-details li.date::before,
	.blog.small .post-image
	{
		display: none;
	}
	.row-4-4.vc_row .vc_col-sm-3 .blog.small .post-image
	{
		display: block;
	}
	.vc_row .vc_col-sm-6 .blog .post-content,
	.vc_row .blog .vc_col-sm-6 .post-content
	{
		width: 240px;
	}
	/* --- comments list --- */
	#comments-list .comment-details
	{
		width: 435px;
	}
	#comments-list .children .comment-details
	{
		width: 315px;
	}
	/* --- buttons ---*/
	h3 .more
	{
		margin-left: 30px;
	}
	/* --- services --- */
	.services-list li,
	.team-box
	{
		width: 250px;
	}
	.services-list.services-icons li
	{
		width: 360px;
		padding: 35px 35px 31px;
	}
	.services-list.services-icons li .service-content
	{
		margin-left: 123px;
	}
	.services-list li h4.box-header::after,
	.team-box h4.box-header::after
	{
		margin-top: 15px;
	}
	.services-list li p,
	.team-box p
	{
		padding: 15px 15px 0;
	}
	/* --- projects --- */
	.projects-list.isotope li,
	.projects-list.isotope li>a,
	.projects-list.isotope a>img
	{
		width: 230px;
		height: 153px;
	}
	.projects-list.isotope li:hover .view p.description
	{
		margin-bottom: 25px;
	}
	.projects-list.isotope .more
	{
		padding: 12px 14px 11px;
		font-size: 11px;
	}
	/* --- features --- */
	.feature-item p
	{
		margin-top: 16px;
	}
	.vc_row .vc_col-sm-4 .feature-item::before
	{
		margin-right: 15px;
	}
	.vc_row .vc_col-sm-4 .feature-item p
	{
		margin-left: 103px;
	}
	.vc_row .vc_col-sm-4 .feature-item.feature-item-big::before
	{
		margin-right: auto;
	}
	.vc_row .vc_col-sm-4 .feature-item.feature-item-big p
	{
		margin-left: auto;
	}
	/* --- contact details --- */
	.contact-details li
	{
		padding: 15px 12px;
	}
	.contact-details li::before
	{
		margin-right: 5px;
	}
	.contact-details li:last-child
	{
		border: none;
	}
	/* --- timeline --- */
	.timeline-content span.timeline-subtitle
	{
		margin-top: 5px;
	}
	/* --- testimonails --- */
	/*
	.testimonials-container .caroufredsel_wrapper_testimonials
	{
		width: 630px !important;
	}
	.testimonials-list li
	{
		width: 630px;
	}
	.testimonials-list p
	{
		font-size: 18px;
		padding: 29px 30px 0;
		line-height: 28px;
		font-weight: 400;
	}
	.vc_col-sm-6 .type-small .testimonials-list li
	{
		width: 360px;
	}
	.vc_col-sm-4 .type-small .testimonials-list li
	{
		width: 230px;
	}
	.vc_col-sm-4 .type-small .testimonials-list p
	{
		padding: 23px 30px 27px;
	}
	.vc_col-sm-4 .type-small .testimonials-list .author-details-box
	{
		margin-left: 9px;
		margin-top: 40px;
	}
	.vc_col-sm-4 .type-small .testimonials-list .ornament
	{
		margin-left: 39px;
		margin-right: 38px;
	}
	.vc_col-sm-4 .type-small .testimonials-list .ornament::before
	{
		width: 38px;
		height: 38px;
		font-size: 38px;
		line-height: 38px;
		left: -39px;
	}
	*/
	/* --- our clients --- */
	.our-clients-list li
	{
		width: 165px;
		height: 116px;
	}
	.our-clients-list.type-list li,
	.our-clients-list.type-list li .vertical-align-cell
	{
		height: 120px;
	}
	/* --- contact details --- */
	.contact-details-box:before
	{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.contact-details-box p
	{
		clear: both;
		text-align: center;
	}
	/* --- tabs navigation --- */
	.tabs .ui-tabs-panel p
	{
		padding: 24px 0 0;
	}
	/* --- call to action --- */
	.call-to-action .more
	{
		display: block;
	}
	/* --- cost calculator --- */
	.ui-slider
	{
		width: 328px;
	}
	.cost-calculator-box .cost-slider-container
	{
		clear: both;
		margin-left: 0;
		margin-top: 10px;
	}
	.ui-selectmenu-button
	{
		width: 240px !important;
	}
	.contact-form .cost-calculator-box p
	{
		margin-top: 0;
		padding: 0;
	}
	.contact-form .cost-calculator-sum p
	{
		margin-top: 14px;
	}
	.cost-calculator-box input.big
	{
		width: 160px;
	}
}
@media screen and (max-width:767px)
{
	/* --- site container --- */
	.site-container.boxed
	{
		max-width: 562px;
	}
	/* --- headers --- */
	h2,
	.error404 .feature-item.feature-item-big h4,
	.page-template-404 .feature-item.feature-item-big h4
	{
		font-size: 24px;
		line-height: 36px;
	}
	h3
	{
		font-size: 18px;
		line-height: 28px;
	}
	/* --- containers --- */
	.header-top-bar,
	.header,
	.site-container .vc_row,
	.site-container .vc_row.full-width .vc_col-sm-12.wpb_column .vc_row,
	.vc_row.full-width>.vc_col-sm-12>.wpb_wrapper>.announcement,
	.menu-container,
	.blog.horizontal-carousel li.post
	/*
	.vc_row .type-small .testimonials-list li*/
	{
		width: 462px;
	}

	.header-container,
	.header-container.sticky.move
	{
		padding: 26px 0;
	}
	.header .logo.vertical-align-cell a {
		height: 70px;
	}
	.re-smart-column .wpb_wrapper
	{
		width: auto !important;
		position: static !important;
	}
	.re-smart-column
	{
		height: auto !important;
	}
	/* --- page header --- */
	.page-header-left,
	.page-header-right
	{
		width: 100%;
	}
	.bread-crumb-container
	{
		float: left;
	}

	/* --- slider revolution --- */
	.tp-revslider-mainul .tp-parallax-wrap
	{
		bottom: 20px !important;
	}
	.slider-content-box
	{
		max-width: 300px;
		margin-left: 20px;
		padding-bottom: 0px;
	}
	.slider-content-box h2
	{
		font-size: 16px;
		font-weight: 500;
		line-height: 26px;
		padding: 11px 18px 11px;
	}
	.slider-content-box p
	{
		font-size: 13px;
		line-height: 21px;
		padding: 13px 18px 15px;
	}
	.slider-content-box .more
	{
		display: none;
	}
	/* --- page layout --- */
	.flex-box
	{
		display: block;
	}
	.flex-hide
	{
		display: inline;
	}
	.flex-box .wpb_column
	{
		background: none !important;
	}
	.vc_row .wpb_column
	{
		margin-top: 40px;
	}
	.vc_row .wpb_column:first-child
	{
		margin-top: 0;
	}
	.vc_row-fluid [class*="vc_col-sm"]
	{
		margin-left: 0;
	}
	.vc_row .vc_col-sm-6, .vc_row .vc_col-sm-4, .vc_row .vc_col-sm-8, .vc_row .vc_col-sm-3, .vc_row .vc_col-sm-9 , .columns.no-width .column-left, .columns.no-width .column-right, .row-4-4.vc_row .vc_col-sm-3,
	.site-container .vc_row.full-width.flex-box>.wpb_column
	{
		width: 100%;
	}
	.vc_row .vc_col-sm-8 .vc_col-sm-6,
	.vc_row .vc_col-sm-4 .column-1-2,
	.vc_row .vc_col-sm-9  .vc_col-sm-6,
	.vc_row .vc_col-sm-6 .vc_col-sm-6
	{
		width: 216px;
	}
	.vc_row .vc_col-sm-8 .cost-calculator-box .vc_col-sm-6
	{
		width: 186px;
	}
	.vc_row .vc_col-sm-8 .vc_col-sm-6,
	.vc_row .vc_col-sm-4 .column-1-2,
	.vc_row .vc_col-sm-9  .vc_col-sm-6,
	.vc_row .vc_col-sm-6 .vc_col-sm-6
	{
		margin-left: 30px;
		margin-top: 0;
	}
	.vc_row .vc_col-sm-8 .vc_col-sm-6:first-child,
	.vc_row .vc_col-sm-4 .column-1-2:first-child,
	.vc_row .vc_col-sm-9  .vc_col-sm-6:first-child,
	.vc_row .vc_col-sm-6 .vc_col-sm-6:first-child
	{
		margin-left: 0;
	}
	.column-2-3 .column-1-3,
	.column-1-3 .column-1-3
	{
		width: 147px;
	}
	.vc_row .vc_col-sm-3.column-right
	{
		clear: both;
	}
	/* --- blog --- */
	.vc_row .wpb_column .blog .post-content
	{
		width: 362px;
	}
	.blog .post-details
	{
		width: 70px;
	}
	.blog.two-columns > li.wpb_column
	{
		margin-top: 70px;
	}
	.blog.three-columns,
	.blog.three-columns > li.wpb_column,
	.layout-column .blog.three-columns>li
	{
		margin-top: 35px;
	}
	.blog.two-columns > li:first-child,
	.blog.three-columns > li:first-child,
	.layout-column .blog.three-columns>li:first-child
	{
		margin-top: 0;
	}
	.blog.three-columns .post-details li
	{
		padding: 10px 20px;
	}
	.blog.three-columns .post-details li.date::before
	{
		display: inline;
	}
	.row-4-4.vc_row .vc_col-sm-3 .blog.small .post-content,
	.vc_row .blog.small .post-content
	{
		width: 352px;
	}
	.blog.small .post-image
	{
		display: block;
	}
	.blog.horizontal-carousel li.post
	{
		float: left;
		margin-top: 0;
	}
	/* --- comments list --- */
	#comments-list .comment-details
	{
		width: 357px;
		margin-left: 15px;
	}
	#comments-list .children
	{
		margin-left: 45px;
	}
	#comments-list .children .comment-details
	{
		width: 312px;
	}
	/* --- announcement --- */
	.announcement .vc_row .vc_col-sm-3
	{
		width: 100%;
		text-align: center;
		margin-top: 40px;
		margin-bottom: 20px;
	}
	.announcement .vertical-align,
	.announcement .vertical-align-cell
	{
		display: block;
		height: auto;
	}
	/* --- services --- */
	.services-list li,
	.team-box
	{
		width: 231px;
	}
	.services-list.services-icons li
	{
		clear: both;
		width: 100%;
	}
	body .services-list.services-icons li:nth-child(even)
	{
		margin-top: 30px;
		margin-left: 0;
		margin-right: 0;
	}
	/* --- projects --- */
	.projects-list li
	{
		width: 50%;
	}
	.projects-list.isotope li,
	.projects-list.isotope li>a,
	.projects-list.isotope a>img
	{
		width: 216px;
		height: 144px;
	}
	.projects-list li .view
	{
		display: none;
	}
	/* --- features --- */
	.vc_row .vc_col-sm-4 .feature-item::before
	{
		margin-right: 30px;
	}
	.vc_row .vc_col-sm-4 .feature-item p
	{
		margin-left: 118px;
	}
	/* --- contact details --- */
	.contact-details li,
	.contact-details li:first-child
	{
		border: none;
	}
	/* --- slider control --- */
	/*
	.slider-control
	{
		padding: 10px;
	}*/
	/* --- tabs navigation --- */
	.ui-tabs-nav li
	{
		margin-left: 10px;
	}
	.ui-tabs-nav li a
	{
		min-width: 130px;
		padding: 0px 0 13px;
	}
	/* --- contact details --- */
	.header-top-bar .contact-details
	{
		float: none;
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
	.contact-details li
	{
		padding: 15px 5px;
	}
	/* --- testimonials --- */
	/*
	.testimonials-container .caroufredsel_wrapper_testimonials
	{
		width: 366px !important;
		left: 48px !important;
	}
	.testimonials-list li
	{
		width: 366px;
	}
	.testimonials-list p
	{
		font-size: 16px;
		line-height: 26px;
	}
	.vc_row .type-small .testimonials-list p
	{
		padding: 33px 40px 37px;
	}
	.vc_row .type-small .testimonials-list .author-details-box
	{
		margin-left: 30px;
		margin-top: 50px;
	}
	.vc_row  .type-small .testimonials-list .ornament
	{
		margin-left: 44px;
		margin-right: 43px;
	}
	.vc_row  .type-small .testimonials-list .ornament::before
	{
		width: 48px;
		height: 48px;
		font-size: 48px;
		line-height: 48px;
		left: -44px;
	}
	*/
	/* --- our clients --- */
	.our-clients-list-container
	{
		width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
	.our-clients-list-container.type-list
	{
		width: auto;
	}
	.our-clients-list li
	{
		width: 170px;
		height: 120px;
	}
	/* --- contact details --- */
	.contact-details-box::before
	{
		float: left;
		margin-left: auto;
		margin-right: 30px;
	}
	.contact-details-box p
	{
		clear: none;
		text-align: left;
	}
	/* --- social icons --- */
	.header-top-bar .social-icons li,
	.header-top-bar .social-icons li:first-child
	{
		border: none;
	}
	/* --- search --- */
	.header-top-bar .template-search
	{
		border: none;
	}
	/* --- call to action --- */
	.call-to-action .more
	{
		display: inline;
	}
	/* --- accordion --- */
	.vc_row .vc_col-sm-9 .vc_col-sm-6 .accordion .ui-accordion-header,
	.vc_row .vc_col-sm-9 .vc_col-sm-6 .accordion  .ui-accordion-header.ui-state-active:hover
	{
		padding: 6px 5px;
	}
	.vc_row .vc_col-sm-9 .vc_col-sm-6 .accordion .ui-accordion-header:hover
	{
		padding-left: 10px;
		padding-right: 0;
	}
	/* --- cost calculator --- */
	.cost-calculator-box input.big
	{
		width: 133px;
	}
	.ui-slider
	{
		width: 300px;
	}
	.ui-selectmenu-button
	{
		width: 220px !important;
	}
	/* --- misc --- */
	.scroll-top.animated-element
	{
		right: 10px;
		bottom: 10px;
	}
}
@media screen and (max-width:479px)
{
	/* --- site container --- */
	.site-container.boxed
	{
		max-width: 400px;
	}
	table td, table th
	{
		padding: 8px 10px;
	}
	/* --- headers --- */
	h2,
	.error404 .feature-item.feature-item-big h4,
	.page-template-404 .feature-item.feature-item-big h4
	{
		font-size: 21px;
		line-height: 32px;
	}
	h3
	{
		font-size: 16px;
		line-height: 26px;
	}
	/* --- header --- */
	.header-top-bar,
	.header,
	.site-container .vc_row,
	.site-container .vc_row.full-width .vc_col-sm-12.wpb_column .vc_row,
	.vc_row.full-width>.vc_col-sm-12>.wpb_wrapper>.announcement,
	.menu-container,
	.blog .post-details,
	.vc_row .wpb_column .blog .post-content,
	.blog.horizontal-carousel li.post
	/*.vc_row .type-small .testimonials-list li*/
	{
		width: 300px;
	}
	.header-top-bar
	{
		display: none;
		padding-top: 10px;
	}
	.header-top-bar-container .header-toggle
	{
		display: block;
	}
	.header-top-bar .social-icons,
	.header-top-bar .search-container
	{
		float: left;
	}
	.header .logo
	{
		width: 270px;
		max-width: 270px;
	}
	/* --- slider revolution --- */
	.tp-revslider-mainul .tp-parallax-wrap
	{
		bottom: 10px !important;
	}
	.slider-content-box
	{
		margin-left: 10px;
	}
	.slider-content-box h2
	{
		font-size: 14px;
		line-height: 24px;
		padding: 9px 15px 8px;
		border-bottom: none;
	}
	.slider-content-box p
	{
		display: none;
	}
	/* --- page layout --- */
	.vc_row.vc_row-fluid [class*="vc_col-sm"]
	{
		margin-top: 40px;
	}
	.vc_row.vc_row-fluid [class*="vc_col-sm"]:first-child
	{
		margin-top: 0;
	}
	.vc_row .vc_col-sm-8 .vc_col-sm-6,
	.vc_row .vc_col-sm-4 .column-1-2,
	.vc_row .vc_col-sm-9 .vc_col-sm-9,
	.vc_row .vc_col-sm-9 .vc_col-sm-6,
	.vc_row .vc_col-sm-6 .vc_col-sm-6,
	.vc_row .vc_col-sm-8 .cost-calculator-box .vc_col-sm-6
	{
		width: 100%;
	}
	.vc_row .vc_col-sm-8 .vc_col-sm-6, .vc_row .vc_col-sm-4 .column-1-2,
	.vc_row .vc_col-sm-9  .vc_col-sm-9,
	.vc_row .vc_col-sm-9  .vc_col-sm-6,
	.vc_row .vc_col-sm-6 .vc_col-sm-6
	{
		margin-left: 0;
		margin-top: 30px;
	}
	/* --- contact details --- */
	.contact-details li
	{
		padding: 5px;
	}
	/* --- social icons --- */
	.header-top-bar .social-icons li a,
	.header-top-bar .template-search
	{
		padding: 10px;
	}
	/* --- blog --- */
	.blog .post-details
	{
		margin-right: 0;
		border-bottom: 1px solid #E2E6E7;
		margin-bottom: 20px;
	}
	.blog .post-details li
	{
		float: left;
		border-top: none;
		padding: 10px 20px;
	}
	.blog .post-details li:first-child
	{
		padding-left: 0;
	}
	.blog .post-details li:last-child
	{
		border-right: none;
		padding-right: 0;
	}
	.blog .post-details li::before,
	.blog .post-details li.date:before
	{
		display: inline;
		margin-bottom: 0;
		margin-right: 10px;
	}
	.blog .post-details li.date h2
	{
		display: inline;
		margin: 0 2px;
		color: #999;
		font-size: 13px;
		font-weight: 500;
		line-height: 1;
	}
	.blog .post-details li.date h2::after
	{
		content: ",";
	}
	.blog.small .post-details
	{
		width: auto;
		border: none;
		margin-bottom: 0;
	}
	.blog.small .post-details li
	{
		float: none;
		width: auto;
	}
	.row-4-4.vc_row .vc_col-sm-3 .blog.small .post-content,
	.vc_row .blog.small .post-content
	{
		width: 190px;
	}
	/* --- comments list --- */
	.comment-author-avatar
	{
		display: none;
	}
	#comments-list .comment-details
	{
		width: 300px;
		margin-left: 0;
	}
	#comments-list .children
	{
		margin-left: 15px;
	}
	#comments-list .children .comment-details
	{
		width: 285px;
	}
	/* --- timeline --- */
	.timeline-item .timeline-left
	{
		width: 130px;
		min-width: 130px;
	}
	.timeline-item label
	{
		max-width: 80px;
		padding: 4px 5px 6px;
	}
	.timeline-item .label-triangle
	{
		margin-right: 25px;
	}
	.timeline-content
	{
		padding-left: 25px;
	}
	.timeline-content span
	{
		float: left;
		clear: both;
	}
	.timeline-content span.timeline-title
	{
		margin-right: 0;
	}
	/* --- testimonials --- */
	/*
	.testimonials-container .caroufredsel_wrapper_testimonials
	{
		width: 300px !important;
		left: 0 !important;
	}
	.testimonials-list li
	{
		width: 300px;
	}
	*/
	/*.slider-control
	{
		top: 20px;
	}
	*/
	/* --- buttons --- */
	h3 .more
	{
		margin-left: 0;
	}
	.button-label
	{
		display: none;
	}
	/* --- services --- */
	.services-list li,
	.team-box
	{
		width: 300px;
	}
	.services-list li p,
	.team-box p
	{
		padding: 15px 10px 0;
	}
	.services-list.services-icons li
	{
		padding: 30px 30px 26px;
	}
	.services-list li .service-icon::before,
	.services-list.services-icons li .service-content
	{
		clear: both;
		margin-left: 0;
	}
	.services-list.services-icons li h4
	{
		margin-top: 0;
	}
	.services-list.services-icons li .service-content
	{
		float: left;
		margin-top: 24px;
	}
	/* --- projects --- */
	.projects-list.isotope,
	.projects-list.isotope li,
	.projects-list.isotope li>a,
	.projects-list.isotope a>img
	{
		width: 270px;
	}
	.projects-list.isotope li,
	.projects-list.isotope li>a,
	.projects-list.isotope a>img
	{
		height: 180px;
	}
	.projects-list.isotope
	{
		margin-left: auto;
		margin-right: auto;
	}
	.projects-list li:hover .view p.description
	{
		margin-bottom: 25px;
	}
	.projects-list .more
	{
		padding: 12px 14px 11px;
		font-size: 11px;
	}
	/* --- our clients --- */
	.our-clients-list-container
	{
		width: 300px;
	}
	.our-clients-list li
	{
		width: 145px;
		height: 102px;
		margin-right: 10px;
	}
	.our-clients-list.type-list li
	{
		width: 49%;
	}
	.our-clients-list.type-list li:nth-child(n+3)
	{
		margin-top: -1px;
	}
	/* --- contact details --- */
	.contact-details-box::before
	{
		margin-right: 10px;
	}
	.contact-details li
	{
		clear: both;
	}
	.header-top-bar .contact-details
	{
		display: block;
	}
	/* --- search --- */
	.search-form
	{
		left: 0;
		right: auto;
	}
	.search-container .template-search
	{
		padding-left: 5px;
	}
	/* --- tabs navigation --- */
	.ui-tabs-nav
	{
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
	}
	.small .ui-tabs-nav
	{
		text-align: center;
	}
	.ui-tabs-nav li
	{
		margin-left: 0;
		margin-right: 6px;
		margin-top: 10px;
	}
	.small .ui-tabs-nav li
	{
		margin-top: 0;
		margin-left: 0;
	}
	.ui-tabs-nav li a
	{
		padding: 5px 0 5px;
	}
	.ui-tabs-nav a::before
	{
		display: none;
	}
	.ui-tabs-nav li.ui-tabs-active:after
	{
		display: none;
	}
	/* --- accordion --- */
	.vc_row .vc_col-sm-9 .vc_col-sm-6 .accordion .ui-accordion-header,
	.vc_row .vc_col-sm-9 .vc_col-sm-6 .accordion  .ui-accordion-header.ui-state-active:hover,
	.accordion .ui-accordion-header,
	.accordion  .ui-accordion-header.ui-state-active:hover
	{
		padding: 16px 15px;
	}
	.vc_row .vc_col-sm-9 .vc_col-sm-6 .accordion .ui-accordion-header:hover,
	.accordion .ui-accordion-header:hover
	{
		padding-left: 25px;
		padding-right: 5px;
	}
	/* --- map --- */
	.column-2-3 #map
	{
		height: 300px;
	}
	/* --- cost calculator --- */
	.cost-calculator-box
	{
		padding: 15px;
	}
	.cost-calculator-box input.big
	{
		width: 238px;
		margin-top: 15px;
	}
	.ui-slider
	{
		width: 168px;
	}
	.ui-slider-handle .cost-slider-tooltip
	{
		top: 30px;
	}
	.ui-slider-handle .cost-slider-tooltip .value
	{
		padding: 7px 0;
	}
	.ui-selectmenu-button
	{
		width: 268px !important;
		margin-top: 15px;
	}
	.cost-calculator-box::before
	{
		display: none;
	}
}
@media screen and (max-device-width: 480px)
{
	body
	{
		-webkit-text-size-adjust: none;
	}
}



/*** refont ***/

@media screen and (max-width: 1189px) {
	.header-container {
		padding: 16px 0px 6px 0;
	}

	.header-top-bar,
	.header {
		width: 100%;
	}
	.menu-container {
		float: none;
		clear: none;
		width: auto;
		margin-top: 0;
	}
	.menu-container nav {
		float: none;
	}
}

@media screen and (max-width: 959px){
	/* --- menu --- */
	.menu-container
	{
		margin-top: 0;
	}
	.mobile-menu-container
	{
		display: block;
	}
	.mobile-menu-container nav
	{
		float: none;
	}
	.header-container.sticky.move
	{
		position: static;
		top: auto;
		width: auto;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}
	.sf-menu
	{
		display: none;
	}
	.header .mobile-menu-switch
	{
		display: block;
		float: right;
		margin-right: 20px;
	}
	.header-container.sticky.move .menu-container
	{
		margin-top: 0;
	}
	.menu-item-has-children
	{
		position: relative;
	}
	.menu-item-has-children a.template-arrow-menu
	{
		position: absolute;
		width: 48px;
		height: 48px;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.menu-item-has-children a.template-arrow-menu::before
	{
		position: absolute;
		left: 17px;
		top: 16px;
	}
	.menu-item-has-children a.template-arrow-menu:hover
	{
		text-decoration: none;
	}
	.collapsible-mobile-submenus .menu-item-has-children ul
	{
		display: none;
	}
	.collapsible-mobile-submenus .menu-item-has-children .menu-item-has-children ul
	{
		display: block;
	}
	/* --- vertical menu --- */
	.vertical-menu li a
	{
		padding: 18px 18px 18px 19px;
	}
	#contact-div-form {
		display: none;
	}
	.contact-div {
		display: block;
	}
	.scroll-top.animated-element {
		bottom: 70px;
	}
	body {
		padding-bottom: 60px;
	}
}

