@media screen and (max-width:1189px)
{
	.woocommerce div.product div.summary
	{
		margin-bottom: 40px;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product
	{
		width: 262px;
	}
	.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li, .woocommerce-cart .cart-collaterals .cross-sells ul.products li.product
	{
		width: 165px;
	}
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n),
	.woocommerce .related ul li.product:nth-child(2n), .woocommerce .related ul.products li.product:nth-child(2n), .woocommerce .upsells.products ul li.product:nth-child(2n), .woocommerce .upsells.products ul.products li.product:nth-child(2n), .woocommerce-page .related ul li.product:nth-child(2n), .woocommerce-page .related ul.products li.product:nth-child(2n), .woocommerce-page .upsells.products ul li.product:nth-child(2n), .woocommerce-page .upsells.products ul.products li.product:nth-child(2n),
	.woocommerce .cart-collaterals .cross-sells ul.products li:nth-child(2n), .woocommerce-page .cart-collaterals .cross-sells ul.products li:nth-child(2n),
	.woocommerce .cart-collaterals .cross-sells ul.products li.last, .woocommerce-page .cart-collaterals .cross-sells ul.products li.last
	{
		margin-right: 0;
	}
	.woocommerce ul.products li.last, .woocommerce-page ul.products li.last, .woocommerce .related ul li.product.last, 
	.woocommerce .related ul li.last, .woocommerce .related ul.products li.last, .woocommerce .upsells.products ul li.last, .woocommerce .upsells.products ul.products li.last, .woocommerce-page .related ul li.last, .woocommerce-page .related ul.products li.last, .woocommerce-page .upsells.products ul li.last, .woocommerce-page .upsells.products ul.products li.last,
	.woocommerce .related ul.products li.product:nth-child(3n)
	{
		margin-right: 30px;
	}
	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first
	{
		clear: none;
	}
	.woocommerce .woocommerce-product-rating .star-rating
	{
		margin: 0 15px 0 0;
	}
	.woocommerce div.product form.cart .button
	{
		margin-top: 10px;
	}
	.woocommerce-cart .cart-collaterals .cart_totals table th
	{
		width: 40%;
	}
	.woocommerce ul.product_list_widget li img
	{
		display: none;
	}
}
@media screen and (max-width:767px)
{
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product,
	.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li, .woocommerce-cart .cart-collaterals .cross-sells ul.products li.product
	{
		width: 216px;
	}
	.woocommerce div.product form.cart .button
	{
		margin-top: 0;
	}
	.woocommerce .shop_table.cart .quantity .plus, .woocommerce .shop_table.cart .quantity .minus
	{
		width: 37px;
		padding: 9px 10px 10px;
	}
	.woocommerce .shop_table.cart .quantity .qty
	{
		width: 25px;
		padding: 10px 10px 7px;
	}
	.woocommerce-checkout .woocommerce-shipping-fields,
	.woocommerce-account .addresses .col-2 .title h3,
	.woocommerce-checkout .addresses .col-2 .title h3
	{
		margin-top: 40px;
	}
	.re_cart_icon_widget
	{
		border-right: none;
	}
}
@media screen and (max-width:479px)
{
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product,
	.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li, .woocommerce-cart .cart-collaterals .cross-sells ul.products li.product
	{
		width: 300px;
		margin-right: 0;
	}
	.woocommerce #review_form_wrapper .comment-form-rating .stars
	{
		clear: both;
	}
	.woocommerce p.stars a
	{
		display: block;
	}
	.woocommerce #review_form p.stars a
	{
		border: none;
	}
	.woocommerce table.shop_table th, .woocommerce table.shop_table td
	{
		padding: 5px;
	}
	.woocommerce .shop_table.cart .quantity .plus, .woocommerce .shop_table.cart .quantity .minus
	{
		display: none;
	}
	.woocommerce .shop_table.cart .quantity .qty
	{
		border-left: 1px solid #E9E9E9;
		border-right: 1px solid #E9E9E9;
	}
	.woocommerce .shop_table.cart td.product-quantity
	{
		text-align: center;
	}
	.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count
	{
		float: left;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.woocommerce .cart .actions input.button
	{
		padding: 16px 10px 15px;
	}
	.re_cart_icon_widget
	{
		float: left;
	}
	.cart-icon
	{
		padding: 10px;
	}
	.cart-items-number
	{
		left: 3px;
		top: 3px;
	}	
}